h2 {
    font-size: 80%;
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--subtle-text-color);
}
@media (max-width: 869px) {
    h2 {
        margin-bottom: 15px;
    }
}

blockquote {
    line-height: 4rem;
    color: var(--emphasis-text-color);
    font-size: 3rem;
    margin: 20px 0 0;
}
@media (max-width: 869px) {
    blockquote {
        line-height: 2.5rem;
        font-size: 2rem;
        margin: 16px 0 0;
        text-align: center;
    }
}
@media only screen and (max-width: 1077px) {
    blockquote br {
        display: none;
    }
}
span {
    display: block;
}
.IndexLineOne {
    animation: moveInLeft 0.5s ease-out;
}
.IndexLineTwo {
    animation: moveInLeft 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
}
.IndexLineThree {
    animation: moveInLeft 0.5s ease-out 1s;
    animation-fill-mode: backwards;
}
.IndexLineFour {
    animation: moveInLeft 0.5s ease-out 1.5s;
    animation-fill-mode: backwards;
}
.IndexLineFive {
    animation: moveInLeft 0.5s ease-out 2s;
    animation-fill-mode: backwards;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
