blockquote {
    line-height: 6rem;
    color: var(--emphasis-text-color);
    font-size: 3rem;
    margin: 2.5rem 0;
}
@media (max-width: 869px) {
    blockquote {
        line-height: 4rem;
        font-size: 2rem;
        margin: 10rem 0;
        text-align: center;
    }
}

span {
    display: block;
}
.IndexLineOne {
    animation: moveInLeft 0.5s ease-out;
}
.IndexLineTwo {
    animation: moveInLeft 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
}
.IndexLineThree {
    animation: moveInLeft 0.5s ease-out 1s;
    animation-fill-mode: backwards;
}
.IndexLineFour {
    animation: moveInLeft 0.5s ease-out 1.5s;
    animation-fill-mode: backwards;
}
.IndexLineFive {
    animation: moveInLeft 0.5s ease-out 2s;
    animation-fill-mode: backwards;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
