.resumeSpacing {
    margin: 0;
}
.horizontalBar {
    width: 95%;
    height: 0.3rem;
    margin: auto;
    background-color: var(--background-color);
    border-radius: 2rem;
    border: 0.1rem solid #bbbbbb;
}
li {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 0.8rem;
}
ul {
    margin-bottom: 1rem;
}

.aboutMe {
    width: 90%;
    margin: 2rem auto;
}
@media (max-width: 770px) {
    .aboutMe {
        width: 80%;
    }
}
.aboutMeHeader {
    font-size: 5rem;
    letter-spacing: 0.6rem;
    line-height: 3rem;
    font-weight: 500;
    text-align: center;
}
@media (max-width: 770px) {
    .aboutMeHeader {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 1rem;
    }
}
.aboutMeBody {
    font-size: 2rem;
    line-height: 2.5rem;
}
@media (max-width: 770px) {
    .aboutMeBody {
        font-size: 1.4rem;
        text-align: center;
    }
}

.resumeTable {
    display: flex;
    flex-direction: row;
    position: relative;
}
@media (max-width: 869px) {
    .resumeTable {
        flex-wrap: wrap;
    }
}

.resumeHeader {
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5rem;
}

.resumeSection {
    padding: 2rem;
    margin: 1.5rem;
    background-color: var(--background-color);
    border-radius: 0.6rem;
    box-shadow: 0 1rem 1.5rem #8f8f8f;
    transition-property: all;
    transition-duration: 200ms;
}
.resumeSection:hover {
    box-shadow: 0 1rem 1.8rem #bbbbbb;
    transition-property: all;
    transition-duration: 200ms;
}

@media (max-width: 869px) {
    .resumeLeft {
        flex: 100%;
    }
    .resumeRight {
        flex: 100%;
    }
}
@media (min-width: 870px) {
    .resumeLeft {
        flex: 55%;
    }
    .resumeRight {
        display: flex;
        flex-direction: column;
        flex: 45%;
    }
}
@media (min-width: 1070px) {
    .resumeLeft {
        animation: moveInLeft 0.5s ease-out;
    }
    .resumeLeft:hover {
        transform: translateX(-0.3rem);
    }
    .resumeRight {
        animation: moveInRight 0.5s ease-out;
    }
    .skills:hover,
    .projects:hover,
    .education:hover {
        transform: translateX(0.3rem);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.span {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
}
.experienceCompany {
    font-size: 2.5rem;
    line-height: 3rem;
    color: #ffffff;
}
.experienceYears {
    font-size: 1.8rem;
    color: #ffffff;
    margin-left: auto;
}
.experienceTitle {
    line-height: 3rem;
    font-size: 1.5rem;
    color: #d6d6d6;
}
@media (max-width: 869px) {
    .experienceCompany {
        font-size: 1.8rem;
    }
    .experienceYears {
        font-size: 1.5rem;
    }
    .experienceTitle {
        font-size: 1.2rem;
    }
}

.skills {
    padding: 1.5rem 3rem;
}
.skillsList {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.resumeSubtitle {
    font-size: 1.2rem;
    margin-left: auto;
}

.projectsDescription {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.projectsProject p {
    margin-top: -1.3rem;
}

.education p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0rem;
    margin-top: -1.8rem;
}
.educationTitle {
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.break {
    display: none;
}
@media (max-width: 1670px) {
    .break {
        display: block;
    }
}
