.about {
    //Display
    display: flex;
    flex-direction: column;
    padding: 18rem 0;
    align-items: center;
    background-color: $color-primary-dark;

    @media only screen and (max-width: $bp-small) {
        //Spacing
        padding: 6rem 0;
    }

    &__box {
        //Display
        display: flex;
        flex-direction: column;
        align-items: center;

        //Spacing
        width: 60%;
        max-width: 130rem;
        padding: 6rem 5rem 4rem;

        //Color Styling
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
        border-radius: 3rem;

        //Animations
        transition: all 0.2s;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            width: 80%;
            padding: 8rem 6rem 6rem;
        }
        @media only screen and (max-width: $bp-medium) {
            //Spacing
            width: 95%;
            padding: 8rem 3rem 4rem;
        }
        @media only screen and (max-width: $bp-small) {
            //Spacing
            width: 95%;
            padding: 4rem 0.5rem 2rem;
        }
    }

    &__header {
        //Font Styling
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        line-height: 1;

        //Color Styling
        color: $color-primary-dark;

        @media only screen and (max-width: $bp-small) {
            //Font Styling
            font-size: 5rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            //Font Styling
            font-size: 4rem;
        }
    }

    &__line {
        //Display
        display: flex;
        align-items: center;

        //Spacing
        margin: 2rem 0 7rem;

        &--dash {
            //Spacing
            margin: 0 2.5rem;
            width: 6rem;
            height: 3px;

            //Border Styling
            border-bottom: 1px solid $color-primary-dark;
        }
        &--kanji {
            //Display
            display: inline-block;

            //Font Styling
            font-size: 5rem;
            font-weight: 600;

            //Color Styling
            color: $color-primary-dark;

            @media only screen and (max-width: $bp-small) {
                //Font Styling
                font-size: 3.5rem;
            }
        }
    }

    &__description {
        //Font Styling
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.8;
        text-align: left;
        text-indent: 4rem;

        //Spacing
        margin-bottom: 3.5rem;

        @media only screen and (max-width: $bp-largest) {
            //Spacing
            width: 80%;
        }
        @media only screen and (max-width: $bp-medium) {
            //Font Styling
            line-height: 1.5;

            //Spacing
            width: 100%;
            padding: 0 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            //Spacing
            padding: 0 2rem;
        }
    }

    &__info-bar {
        //Display
        display: flex;
        justify-content: space-around;

        //Spacing
        width: 60%;
        max-width: 130rem;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            width: 80%;
        }
        @media only screen and (max-width: $bp-medium) {
            //Spacing
            width: 100%;
            padding: 0 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            //Display
            flex-direction: column;
            justify-content: space-evenly;
        }
        .item {
            //Spacing
            width: 28%;
            margin-top: 4rem;
            padding: 4rem 1rem;

            //Font Styling
            text-align: center;

            //Color Styling
            background-color: rgb(255, 255, 255);
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);

            //Border Styling
            border-radius: 3rem;

            //Animations
            transition: background-color 0.3s, transform 1s ease,
                opacity 1s ease;

            @media only screen and (max-width: $bp-largest) {
                //Spacing
                padding: 4rem 2rem;
            }
            @media only screen and (max-width: $bp-medium) {
                //Spacing
                width: 30%;
                padding: 2rem 1rem;
            }
            @media only screen and (max-width: $bp-small) {
                //Display
                display: flex;
                justify-content: space-between;
                align-items: center;

                //Spacing
                width: 100%;

                &:nth-child(even) {
                    //Display
                    flex-direction: row-reverse;
                }
            }
            &__svg {
                //Display
                display: flex;
                justify-content: center;
                align-items: center;

                //Spacing
                width: 8rem;
                height: 8rem;
                margin: auto;

                //Color Styling
                background: $color-primary;

                //Border Styling
                border-radius: 50%;

                //Animations
                transition: background 0.3s;

                @media only screen and (max-width: $bp-small) {
                    //Display
                    flex-shrink: 0;

                    //Spacing
                    margin: 0 1rem;
                }
            }

            .item:hover .item__svg {
                //Color Styling
                background: $color-primary-light;
            }

            svg {
                //Spacing
                width: 3rem;
                height: 3rem;

                //Color Styling
                fill: white;

                //Animations
                transition: fill 0.3s;
            }

            .item:hover svg {
                //Color Styling
                fill: $color-primary-dark;
            }

            h3 {
                //Spacing
                margin: 4rem 0 1.5rem;

                //Font Styling
                font-size: 2rem;

                //Color Styling
                color: $color-primary-dark;

                @media only screen and (max-width: $bp-medium) {
                    //Font Styling
                    font-size: 1.4rem;
                }
                @media only screen and (max-width: $bp-small) {
                    //Display
                    flex-shrink: 1;

                    //Spacing
                    margin: 0 2rem;

                    //Font Styling
                    font-size: 1.8rem;
                }
            }
            p {
                //Spacing
                margin: 0 3rem;

                //Font Styling
                font-size: 1.3rem;

                @media only screen and (max-width: $bp-medium) {
                    //Spacing
                    margin: 0 2rem;
                }
                @media only screen and (max-width: $bp-small) {
                    //Display
                    flex-shrink: 1;

                    //Spacing
                    margin: 0 1rem;
                    width: 80%;
                }
                @media only screen and (max-width: $bp-smallest) {
                    //Spacing
                    margin: 0rem;
                }
            }
        }
    }
}
