.about {
    //Display
    display: flex;
    flex-direction: column;
    margin: 15rem 0 20rem;
    // justify-content: center;
    align-items: center;

    &__header {
        //Spacing

        //Font Styling
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        line-height: 1;

        //Color Styling
        color: $color-primary-dark;

        @media only screen and (max-width: $bp-small) {
            //Font Styling
            font-size: 5rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            //Font Styling
            font-size: 4rem;
        }
    }

    &__line {
        display: flex;
        align-items: center;
        margin: 4rem 0 6rem;

        &--dash {
            margin: 0 3rem;
            width: 6rem;
            height: 3px;
            border-bottom: 1px solid $color-primary-dark;
        }
        &--svg {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            stroke-width: 0;
            stroke: $color-primary-dark;
            fill: $color-primary-dark;
        }
    }

    &__description {
        //Display
        width: 60%;

        //Font Styling
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5;
        text-align: center;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            width: 80%;
        }
        @media only screen and (max-width: $bp-medium) {
            //Spacing
            width: 100%;
            padding: 0 2rem;
        }
    }

    &__info-bar {
        display: flex;
        justify-content: space-around;
        width: 60%;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            width: 80%;
        }
        @media only screen and (max-width: $bp-medium) {
            //Spacing
            width: 100%;
            padding: 0 2rem;
        }
        .item {
            width: 25%;
            text-align: center;
            margin-top: 8rem;

            @media only screen and (max-width: $bp-medium) {
                //Font Styling
                width: 30%;
            }
            &__svg {
                background: $color-primary;
                width: 8rem;
                height: 8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                border-radius: 50%;
            }
            svg {
                width: 3rem;
                height: 3rem;
                fill: white;
            }
            h3 {
                margin: 1rem 0;
                //Font Styling
                font-size: 1.8rem;

                //Color Styling
                color: $color-primary-dark;

                @media only screen and (max-width: $bp-medium) {
                    //Font Styling
                    font-size: 1.4rem;
                }
            }
            p {
                font-size: 1.3rem;
                margin: 0 3rem;

                @media only screen and (max-width: $bp-medium) {
                    //Spacing
                    margin: 0 2rem;
                }
            }
        }
    }
}
