.about {
  //Display
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
  align-items: center;
  background-color: $color-primary-dark;

  @media only screen and (max-width: $bp-small) {
    //Spacing
    padding: 6rem 0;
  }

  &__box {
    //Display
    display: flex;
    flex-direction: column;
    align-items: center;

    //Spacing
    width: 70%;
    max-width: 130rem;
    padding: 6rem 5rem 4rem;

    //Color Styling
    background-color: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: $card-border-radius;

    //Animations
    transition: all 0.2s;

    @media only screen and (max-width: $bp-large) {
      //Spacing
      width: 80%;
      // padding: 8rem 5rem 6rem;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 95%;
      // padding: 8rem 3rem 4rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      width: 95%;
      padding: 4rem 0.5rem 2rem;
    }
  }

  &__header {
    //Font Styling
    font-size: 7.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    line-height: 1;
    margin: 0 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-box {
      background-attachment: scroll;
      background-image: url(../img/about-text-day.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      //Font Styling
      font-size: 5rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      //Font Styling
      font-size: 4rem;
    }
  }

  &__line {
    //Display
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    &--dash {
      //Spacing
      margin: 0 2.5rem;
      width: 6rem;
      height: 3px;

      //Border Styling
      border-bottom: 2px solid $color-primary-accent-1;
    }
    &--kanji {
      //Display
      display: inline-block;

      //Font Styling
      font-size: 8rem;
      font-weight: 900;
      @media only screen and (max-width: $bp-small) {
        //Font Styling
        font-size: 4.5rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        //Font Styling
        font-size: 4rem;
      }
    }
  }

  &__description {
    //Font Styling
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: left;
    text-indent: 2rem;

    //Spacing
    margin-bottom: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      line-height: 1.5;
      text-indent: 3rem;

      //Spacing
      width: 100%;
      padding: 0 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      padding: 0 2rem;
    }

    &-arrow {
      color: $color-primary-accent-1;
      font-weight: 300;
      font-size: 2.2rem;
      margin-right: 0.5rem;
    }
  }

  &__info-bar {
    //Display
    display: flex;
    justify-content: space-around;

    //Spacing
    width: 60%;
    max-width: 130rem;

    @media only screen and (max-width: $bp-large) {
      //Spacing
      width: 80%;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 100%;
      padding: 0 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Display
      flex-direction: column;
      justify-content: space-evenly;
    }
    .item {
      //Spacing
      width: 29%;
      margin-top: 3rem;
      padding: 4rem 1rem;

      //Font Styling
      text-align: center;

      //Color Styling
      background-color: #fff;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

      //Border Styling
      border-radius: $card-border-radius;

      //Animations
      transition: background-color 0.3s, transform 1s ease, opacity 1s ease;

      @media only screen and (max-width: $bp-largest) {
        //Spacing
        padding: 4rem 2rem;
      }
      @media only screen and (max-width: $bp-medium) {
        //Spacing
        width: 30%;
        padding: 2rem 1rem;
      }
      @media only screen and (max-width: $bp-small) {
        //Display
        display: flex;
        justify-content: space-between;
        align-items: center;

        //Spacing
        width: 100%;
        padding: 3rem;

        &:nth-child(even) {
          //Display
          flex-direction: row-reverse;
        }

        &:nth-child(even) p {
          @media only screen and (max-width: $bp-small) {
            padding: 0 2rem 0 0;
          }
        }
        &:nth-child(odd) p {
          @media only screen and (max-width: $bp-small) {
            padding: 0 0 0 2rem;
          }
        }
      }

      &__header {
        @media only screen and (max-width: $bp-small) {
          width: 30%;
        }
      }
      &__svg {
        //Display
        display: flex;
        justify-content: center;
        align-items: center;

        //Spacing
        width: 8rem;
        height: 8rem;
        margin: auto;

        //Color Styling
        background: $color-primary;

        //Border Styling
        border: 3px solid white;
        border-radius: 50%;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.7);

        //Animations
        transition: background 0.3s;

        @media only screen and (max-width: $bp-small) {
          //Display
          flex-shrink: 0;

          //Spacing
          width: 7rem;
          height: 7rem;
          margin: 0 auto 1.5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
          //Spacing
          width: 6rem;
          height: 6rem;
          margin: auto;
        }
      }

      svg {
        //Spacing
        width: 3rem;
        height: 3rem;

        //Color Styling
        fill: white;

        //Animations
        transition: fill 0.3s;

        @media only screen and (max-width: $bp-smallest) {
          //Spacing
          width: 2rem;
          height: 2rem;
        }
      }

      h3 {
        //Spacing
        margin: 3rem 0 1.8rem;

        //Font Styling
        font-size: 2.2rem;
        font-weight: 800;

        //Color Styling
        color: $color-primary-dark;

        @media only screen and (max-width: $bp-medium) {
          //Font Styling
          font-size: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
          //Display
          flex-shrink: 1;

          //Spacing
          margin: 0 0 0.5rem;

          //Font Styling
          font-size: 1.6rem;
        }
        @media only screen and (max-width: $bp-smallest) {
          //Font Styling
          font-size: 1.2rem;
        }
      }
      p {
        //Spacing
        margin: 0 3rem;

        //Font Styling
        font-size: 1.5rem;
        text-align: left;

        b {
          font-style: italic;
        }

        @media only screen and (max-width: $bp-largest) {
          //Spacing
          margin: 0 2rem;
        }
        @media only screen and (max-width: $bp-large) {
          //Spacing
          margin: 0 1rem;
        }
        @media only screen and (max-width: $bp-small) {
          //Display
          flex-shrink: 1;

          //Spacing
          width: 80%;
          margin: 0;

          //Font Styling
          font-size: 1.6rem;
        }
      }
    }

    .item:hover .item__svg {
      //Color Styling
      background: $color-primary-light;
    }

    .item:hover svg {
      //Color Styling
      fill: $color-primary-dark;
    }
  }
}
