//Animation for Title and Subtitle on Hero
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*-- -------------------------- -->
<---   Card Animation Classes   -->
<--- -------------------------- -*/
.revealRight {
    transform: translateX(15rem);
    opacity: 0;
    transition: 1s transform ease, 1s opacity ease;
}
.revealLeft {
    transform: translateX(-15rem);
    opacity: 0;
    transition: 1s transform ease, 1s opacity ease;
}
.revealFade {
    opacity: 0;
    transition: 1s opacity ease;
}

.revealRight.active,
.revealLeft.active,
.revealFade.active {
    transform: translateY(0);
    opacity: 1;
}
