:root {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
    --background-color-light: #292929;
    --background-color-primary: #141414;
    --background-color-dark: #0a0a0a;
    --default-text-color: #999999;
    --emphasis-text-color: #d5d5d5;
    --underline-color: #545454;
    --font-size: 1rem;
    --section-spacing: 15rem;
}
@media (max-width: 869px) {
    :root {
        --section-spacing: 64px;
        --font-size: 1.7rem;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.75rem;
    margin: 0;
    background-image: linear-gradient(
        to right bottom,
        var(--background-color-light),
        var(--background-color-dark)
    );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--default-text-color);
}
