/////////////////////////////////////////////////////
/* Name and Avatar */

.name-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    &__avatar {
        width: 9rem;
        height: 9rem;
        margin-right: 2rem;
        position: relative;
        clip-path: circle();
    }

    &__avatar-image {
        position: absolute;
        bottom: 0;
        width: 9rem;
        height: 9rem;
    }

    &__name {
        font-size: 2.5rem;
        font-weight: 500;
        margin: 0;
        color: var(--emphasis-text-color);
    }
}
@media (max-width: 869px) {
    .name-container {
        flex-direction: column;
        margin-bottom: -1.5rem;
        margin-top: -1.5rem;

        &__avatar {
            margin-bottom: 0.8rem;
            margin-right: 0rem;
        }

        &__name {
            font-size: 2rem;
        }
    }
}

/////////////////////////////////////////////////////
/*  General Links */

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-position: under;
    text-underline-offset: -1px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--underline-color);
}

/////////////////////////////////////////////////////
/*  Line Breaks */

.break {
    display: none;
}
@media (max-width: 1670px) {
    .break {
        display: block;
    }
}

/////////////////////////////////////////////////////
/* Nav Links */

.nav-links {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;

    &__column {
        margin-left: 5rem;
        align-items: start;
        align-self: stretch;
    }

    &__link {
        padding: 0 1.6rem;
        align-self: stretch;
    }
}
@media (max-width: 869px) {
    .nav-links {
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        line-height: 1.2rem;

        &__column {
            margin-left: 0px;
            text-align: center;
        }

        &__entry {
            text-align: center;
            margin-bottom: -2rem;
        }

        &__link {
            display: block;
            padding: 0.6rem 0;
        }
    }
}

.svg {
    text-align: right;
    height: 2rem;
    width: auto;
    margin: 0rem;
    background-size: contain;
}
@media (max-width: 869px) {
    .svg {
        visibility: hidden;
    }
}

/////////////////////////////////////////////////////
/* Index Blockquotes */

blockquote {
    line-height: 6rem;
    color: var(--emphasis-text-color);
    font-size: 3rem;
    margin: 2.5rem 0;
}
@media (max-width: 869px) {
    blockquote {
        line-height: 4rem;
        font-size: 2rem;
        margin: 10rem 0;
        text-align: center;
    }
}

span {
    display: block;
}

.bio {
    &__line-one {
        animation: moveInLeft 0.5s ease-out;
    }
    &__line-two {
        animation: moveInLeft 0.5s ease-out 0.5s;
        animation-fill-mode: backwards;
    }
    &__line-three {
        animation: moveInLeft 0.5s ease-out 1s;
        animation-fill-mode: backwards;
    }
    &__line-four {
        animation: moveInLeft 0.5s ease-out 1.5s;
        animation-fill-mode: backwards;
    }
    &__line-five {
        animation: moveInLeft 0.5s ease-out 2s;
        animation-fill-mode: backwards;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/////////////////////////////////////////////////////
/* Horizontal Bar Decoration*/

.horizontal-bar {
    width: 95%;
    height: 0.3rem;
    margin: auto;
    background-color: var(--background-color);
    border-radius: 2rem;
    border: 0.1rem solid #bbbbbb;
}

/////////////////////////////////////////////////////
/* About Me */

.about-me {
    width: 90%;
    margin: 2rem auto;

    &__header {
        font-size: 5rem;
        letter-spacing: 0.6rem;
        line-height: 3rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }

    &__body {
        font-size: 1.8rem;
        line-height: 2.3rem;
        text-align: center;
    }
}
@media (max-width: 770px) {
    .about-me {
        width: 80%;

        &__header {
            font-size: 3rem;
            letter-spacing: 0.3rem;
            line-height: 0rem;
        }

        &__body {
            font-size: 1.5rem;
        }
    }
}

/////////////////////////////////////////////////////
/* Professional Experience */

.experience {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__company {
        display: flex;
        align-items: center;
        padding: 0;
    }

    &__company-name {
        font-size: 2.5rem;
        color: #ffffff;
        line-height: 3rem;
        margin: 0;
    }

    &__company-years {
        font-size: 1.8rem;
        color: #ffffff;
        margin: 0 0 0 auto;
    }

    &__title {
        line-height: 3rem;
        font-size: 1.5rem;
        color: #d6d6d6;
        margin: 0 0 1rem;
    }

    &__details {
        list-style-type: none;
        padding: 0;
        margin: 0 0 1rem;

        & li {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 0.8rem;
        }
    }
}

@media (max-width: 869px) {
    .experience {
        &__company-name {
            font-size: 1.8rem;
            line-height: 3rem;
        }

        &__company-years {
            font-size: 1.5rem;
        }

        &__title {
            font-size: 1.2rem;
        }
    }
}

/////////////////////////////////////////////////////
/* Skills */

.skills {
    padding: 1.5rem 3rem;

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        text-align: center;

        &-entries {
            list-style-type: none;
            padding: 0;
            margin: 0 0 1rem;

            & li {
                font-size: 1.5rem;
                line-height: 2rem;
                margin-top: 0.8rem;
            }
        }
    }
}

/////////////////////////////////////////////////////
/* Projects */

.projects-entry {
    &__name {
        display: flex;
        align-items: center;
        margin-top: -1rem;
    }

    &__title {
        font-size: 2.5rem;
    }

    &__subtitle {
        font-size: 1.2rem;
        margin-left: auto;
    }

    &__description {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: -1.3rem;
    }
}

/////////////////////////////////////////////////////
/* Education */

.education-entry {
    display: flex;

    &__title {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    &__subtitle {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-left: auto;
    }

    &__description {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 0rem;
        margin-top: -1rem;
    }
}
