.contact {
    //Display
    display: flex;
    justify-content: center;

    //Spacing
    width: 100%;
    margin: auto;

    background-image: url(../img/Worldmap.svg);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center center;

    @media only screen and (max-width: $bp-medium) {
        //Display
        background-image: none;
    }

    &__container {
        //Display
        display: flex;
        justify-content: space-between;

        //Spacing
        width: 70%;
        margin: 0 5rem;
        padding: 15vh 0;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            width: 100%;
        }
        @media only screen and (max-width: $bp-medium) {
            //Display
            flex-direction: column;
        }
        @media only screen and (max-width: $bp-small) {
            //Spacing
            height: 100vh;
        }

        &-left {
            //Display
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;

            //Spacing
            width: 100%;

            @media only screen and (max-width: $bp-medium) {
                background-image: url(../img/Worldmap.svg);
                background-size: 110% auto;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-right {
            //Display
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            //Spacing
            width: 100%;
        }
    }

    &-socials {
        //Display
        display: flex;

        & a:not(:last-child) {
            //Spacing
            margin-right: 2rem;
        }
    }

    &-svg {
        //Spacing
        height: 3.6rem;
        margin: 1rem 0;

        //Animations
        transition: all 0.1s;

        &:hover {
            //Animations
            scale: 1.1;
        }
    }

    &-header {
        h2 {
            //Spacing
            margin-bottom: 2rem;

            //Font Styling
            font-size: 3rem;

            //Color Styling
            color: $color-primary-dark;
        }
        h3 {
            //Spacing
            margin-top: 6rem;

            //Font Styling
            font-size: 1.4rem;

            //Color Styling
            color: $color-primary-dark;
        }
        p {
            //Spacing
            margin: 0.2rem 6rem 1rem 0;

            //Font Styling
            font-size: 2rem;
            font-weight: 300;

            @media only screen and (max-width: $bp-medium) {
                //Spacing
                margin: 0.5rem 0 2rem;

                //Font Styling
                font-size: 1.6rem;
            }
        }
    }

    &-form {
        //Display
        display: flex;
        flex-direction: column;

        //Spacing
        width: 50rem;

        @media only screen and (max-width: $bp-medium) {
            //Spacing
            width: 100%;
        }

        & label {
            //Font Styling
            font-size: 1.5rem;
        }

        & input {
            //Spacing
            padding: 0.8rem;
            margin-bottom: 2rem;

            //Border Styling
            border: 1px solid $color-grey-dark;
            border-radius: 5px;

            &:focus {
                //Border Styling
                border: 1px solid $color-grey-dark;
            }
        }

        & textarea {
            //Spacing
            padding: 0.8rem;

            //Border Styling
            border: 1px solid $color-grey-dark;
            border-radius: 5px;

            &:focus {
                //Border Styling
                border: 1px solid $color-grey-dark;
            }
        }

        & button {
            //Spacing
            margin-top: 2rem;

            //Border Styling
            border-radius: 5px;
        }
    }
}
