/*-- -------------------------- -->
<---      Styles for            -->
<---      Dark  Mode Toggle     -->
<--- -------------------------- -*/

.toggle-wrapper {
    //Color Styling
    background-color: inherit;

    //Border Styling
    border: none;

    & .toggle {
        //Display
        display: none;

        & + .toggle-btn {
            cursor: pointer;
            user-select: none;

            //Display
            display: block;

            //Spacing
            width: 8rem;
            height: 4rem;
            position: relative;

            //Border Styling
            outline: 0;

            @media only screen and (max-width: $bp-small) {
                width: 14rem;
            }

            &:after,
            &:before {
                content: '';

                //Display
                display: block;

                //Spacing
                position: relative;
                width: 50%;
                height: 100%;
            }
            &:after {
                //Spacing
                left: 0;
            }
            &:before {
                //Display
                display: none;
            }
        }

        &:checked + .toggle-btn:after {
            //Spacing
            left: 50%;
        }

        &-skewed {
            & + .toggle-btn {
                //Spacing
                overflow: hidden;
                backface-visibility: hidden;

                //Font Styling
                font-family: sans-serif;

                //Color Styling
                background: $color-primary;

                //Image Styling
                transform: skew(-10deg);

                //Animations
                transition: all 0.2s ease;

                &:after,
                &:before {
                    //Display
                    display: inline-block;

                    //Spacing
                    position: absolute;
                    width: 100%;

                    //Font Styling
                    line-height: 4rem;
                    text-align: center;
                    font-weight: bold;

                    //Image Styling
                    transform: skew(10deg);

                    //Border Styling
                    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

                    //Animations
                    transition: all 0.2s ease;
                }

                /* After = Night */
                &:after {
                    content: attr(data-tg-on);

                    //Spacing
                    left: 100%;

                    //Font Styling
                    font-weight: normal;

                    //Color Styling
                    color: $color-primary;

                    @media only screen and (max-width: $bp-small) {
                        //Font Styling
                        font-size: 2.5rem;
                        font-weight: 300;
                    }
                }

                /* Before = Day */
                &:before {
                    content: attr(data-tg-off);

                    //Spacing
                    left: 0;

                    //Color Styling
                    color: $body-text-dark;

                    @media only screen and (max-width: $bp-small) {
                        //Font Styling
                        font-weight: normal;
                        font-size: 2.5rem;
                        font-weight: 300;
                    }
                }
                &:active {
                    //Color Styling
                    background: $color-primary;
                }
                &:active:before {
                    //Spacing
                    left: -10%;
                }
            }

            &:checked {
                & + .toggle-btn {
                    //Color Styling
                    background: $background-color-light;

                    &:before {
                        //Spacing
                        left: -100%;
                    }
                    &:after {
                        //Spacing
                        left: 0;
                    }
                    &:active:after {
                        //Spacing
                        left: 10%;
                    }
                }
            }
        }

        &,
        &:after,
        &:before,
        & *,
        & *:after,
        & *:before,
        & + .toggle-btn {
            //Spacing
            box-sizing: border-box;
        }
        &::selection,
        &:after::selection,
        &:before::selection,
        & *::selection,
        & *:after::selection,
        & *:before::selection,
        & + .toggle-btn::selection {
            //Color Styling
            background: none;
        }
    }
}

/*-- -------------------------- -->
<---         Styles for         -->
<---         Dark Mode          -->
<--- -------------------------- -*/

body.dark-mode {
    //Color Styling
    background-color: $background-color-dark;
    color: $body-text-dark;

    .header {
        //Color Styling
        background-color: $background-color-dark;
        color: $body-text-dark;
        &-box {
            @media only screen and (max-width: $bp-small) {
                //Color Styling
                background-color: $background-color-dark;
            }
        }
        &__logo {
            //Image Styling
            background-image: url(../img/logo_white.png);
        }
        &__nav {
            @media only screen and (max-width: $bp-small) {
                //Color Styling
                background-color: #3a2d3d;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);

                //Border Styling
                border-bottom: 1px solid $color-grey-dark;
            }
        }
        & a {
            //Color Styling
            color: $body-text-dark;
        }

        &__hamburger {
            & .bar {
                //Color Styling
                background-color: $body-text-dark;
            }
        }

        &-scrolled {
            //Border Styling
            border-bottom: 1px solid $color-grey-dark;
        }
    }

    .hero {
        //Color Styling
        background-color: $background-color-dark;
        &__title {
            //Color Styling
            color: $background-color-light;
        }
        &__subtitle {
            //Color Styling
            color: $body-text-dark;
        }
        &__image {
            //Image Styling
            background-image: url(../img/forest-night2x.png);

            @media only screen and (max-width: $bp-small) {
                //Image Styling
                background-image: url(../img/forest-night1x.png);
            }
        }
    }

    .contact {
        //Color Styling
        background-color: $background-color-dark;
        &-svg {
            //Color Styling
            filter: invert(1);
        }
        &-header {
            h2 {
                //Color Styling
                color: $color-primary-light;
            }
            h3 {
                //Color Styling
                color: $color-primary-light;
            }
        }
    }

    .projects {
        &__card {
            //Color Styling
            background-color: #3a2d3d;
        }
        &__details {
            h3 {
                //Color Styling
                color: $background-color-light;
            }
            p {
                //Color Styling
                color: $background-color-light;
            }
        }
    }

    .footer {
        //Color Styling
        background-color: $background-color-dark;
        color: $body-text-dark;

        &__logo-box {
            //Image Styling
            background-image: url(../img/logo_tree-light.png);
        }
        &__copyright {
            //Color Styling
            color: $body-text-dark;
        }
    }

    .btn {
        &-contact {
            //Color Styling
            background-color: $color-primary-dark;
            color: $body-text-dark;

            @media only screen and (max-width: $bp-small) {
                //Color Styling
                background-color: transparent;
                color: $body-text-dark !important;
            }
        }
    }
    ::selection {
        //Color Styling
        color: $body-text-light;
        background-color: $body-text-dark;
    }
}
