.hero {
    //Display
    display: flex;
    justify-content: center;
    align-items: center;

    //Spacing
    height: 100vh;
    width: 100%;

    //Color Styling
    background-color: $background-color-light;

    @media only screen and (max-width: $bp-largest) {
        //Display
        flex-direction: column-reverse;
    }

    &-left {
        //Display
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        //Spacing
        height: 100%;
        width: 55%;

        @media only screen and (max-width: $bp-largest) {
            //Display
            align-items: center;

            //Spacing
            width: 100%;
            height: auto;
        }
    }
    &-right {
        //Display
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        //Spacing
        height: 100%;
        width: 45%;
        padding: 6rem;

        @media only screen and (max-width: $bp-largest) {
            //Display
            justify-content: center;

            //Spacing
            padding: 0 6rem;
            min-height: 80rem;
            height: auto;
            width: 100%;
        }
        @media only screen and (max-width: $bp-small) {
            //Display
            justify-content: center;

            //Spacing
            padding: 0 6rem;
            min-height: 50rem;
            height: auto;
            width: 100%;
        }
    }

    &__title {
        //Spacing
        margin: 4rem 0;
        text-align: right;

        //Font Styling
        font-size: 6rem;
        font-weight: 300;
        text-align: right;
        letter-spacing: 0.8rem;
        line-height: 1;

        //Color Styling
        color: $background-color-dark;

        //Animations
        animation: moveInLeft 0.8s ease-out;

        @media only screen and (max-width: $bp-largest) {
            //Spacing
            text-align: center;
        }
        @media only screen and (max-width: $bp-small) {
            //Spacing
            margin: 0 0 2rem;

            //Font Styling
            font-size: 3rem;
            letter-spacing: 0.4rem;
        }
    }

    &__subtitle {
        //Font Styling
        text-align: right;
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 1;

        //Color Styling
        color: $body-text-light;

        //Animations
        animation: moveInLeft 0.8s ease-out 0.8s;
        animation-fill-mode: backwards;

        @media only screen and (max-width: $bp-largest) {
            //Spacing
            margin: 0 1rem;

            //Font Styling
            text-align: center;
        }
        @media only screen and (max-width: $bp-small) {
            //Font Styling
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 0.1rem;
        }
    }

    &__image {
        //Spacing
        height: 100%;

        //Image Styling
        background-image: url(../img/forest-day2x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (max-width: $bp-largest) {
            //Image Styling
            background-position: center;
        }
        @media only screen and (max-width: $bp-small) {
            //Image Styling
            background-image: url(../img/forest-day1x.png);
        }

        &-box {
            //Spacing
            width: 100%;
            height: 100%;
            padding: 6rem 0 3rem;
        }
    }
}
