.header {
    //Display
    display: flex;
    justify-content: center;

    //Spacing
    position: fixed;
    width: 100%;
    z-index: 200;

    //Font Styling
    text-decoration: none;

    //Color Styling
    background-color: $background-color-light;

    @media only screen and (max-width: $bp-small) {
        //Spacing
        z-index: 10;
    }

    &-box {
        //Display
        display: flex;
        justify-content: space-between;

        //Spacing
        width: 70%;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            width: 100%;
        }
        @media only screen and (max-width: $bp-small) {
            //Color Styling
            background-color: $background-color-light;
        }
    }

    &__divider {
        display: none;
        @media only screen and (max-width: $bp-small) {
            display: inline-block;
            width: 60%;
            height: 1px;
            margin: 0 auto;
            color: $color-grey-light;
        }
    }

    &__logo {
        cursor: pointer;

        //Display
        display: flex;
        align-items: center;

        //Spacing
        height: 7rem;
        width: 7rem;
        margin: 1.5rem 0 0.5rem;
        z-index: 200;

        //Font Styling
        text-decoration: none;
        font-size: 2.5rem;

        //Image Styling
        background-image: url(../img/logo_black.png);
        background-size: cover;
        background-position: top;

        //Animations
        transition: all 0.3s;

        @media only screen and (max-width: $bp-large) {
            //Spacing
            margin-left: 1rem;
        }
        @media only screen and (max-width: $bp-small) {
            //Spacing
            height: 5rem;
            width: 5rem;
        }

        &:hover {
            //Animations
            transform: scale(1.05);
        }
    }

    &__nav {
        //Display
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            //Display
            flex-direction: column;
            justify-content: space-around;

            //Spacing
            position: fixed;
            width: 110%;
            top: -30%;
            left: -5%;
            height: 32rem;
            z-index: -1;

            //Font Styling
            text-align: center;
            font-weight: 300;

            //Color Styling
            background-color: #fff;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

            //Border Styling
            border-bottom: 1px solid $color-grey-light;

            //Animations
            transition: 0.6s ease;

            &.active {
                //Spacing
                top: 7rem;
            }
        }
        @media only screen and (max-width: $bp-smallest) {
            height: 22rem;
        }

        &-toggle {
            @media only screen and (max-width: $bp-small) {
                padding: 2rem 0;
            }
        }

        & * {
            & button {
                @media only screen and (max-width: $bp-large) {
                    //Spacing
                    margin-right: 3rem;
                }
                @media only screen and (max-width: $bp-small) {
                    //Spacing
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            & a {
                //Spacing
                margin-right: 6rem;

                //Font Styling
                font-size: 1.4rem;

                //Animations
                transition: all 0.1s;

                //Color Styling
                color: $color-primary;

                @media only screen and (max-width: $bp-medium) {
                    //Spacing
                    margin-right: 3rem;
                }
                @media only screen and (max-width: $bp-small) {
                    //Spacing
                    width: 100%;
                    margin: auto;

                    //Color Styling
                    color: $color-primary-dark;

                    //Font Styling
                    font-size: 2.5rem;
                }
            }
        }
    }

    &__hamburger {
        //Display
        display: none;

        @media only screen and (max-width: $bp-small) {
            cursor: pointer;

            //Display
            display: block;

            //Spacing
            margin: auto 2rem;
            z-index: 20;
        }

        & .bar {
            //Display
            display: block;

            //Spacing
            width: 4rem;
            height: 1px;
            margin: 8px auto;

            //Color Styling
            background-color: $body-text-light;

            //Animations
            transition: all 0.3s ease-in-out;
        }

        &.active {
            & .bar:nth-child(2) {
                //Image Styling
                opacity: 0;
            }

            & .bar:nth-child(1) {
                //Animations
                transform: translateY(9px) rotate(45deg);
            }

            & .bar:nth-child(3) {
                //Animations
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }

    /* This is applied when you scroll the height of the navbar */
    &-scrolled {
        //Border Styling
        border-bottom: 1px solid $color-grey-light;
    }
}
