.projects {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;

    &__box {
        width: 60%;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            margin: 0 3rem;
        }
        @media only screen and (max-width: $bp-small) {
            width: 100%;
            margin: 0 1rem;
        }
    }
    &__card {
        background-color: white;
        display: flex;
        border-radius: 12px;
        &:not(:last-child) {
            margin-bottom: 10rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            flex-direction: column;
            &:nth-child(2n + 1) {
                flex-direction: column-reverse;
            }
        }
    }
    &__description {
        width: 50%;
        padding: 9.5rem 8rem;
        @media only screen and (max-width: $bp-medium) {
            padding: 0;
            margin: 0;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 100%;
        }
    }
    &__details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $bp-medium) {
            justify-content: space-evenly;
        }

        h3 {
            font-size: 4rem;
            font-weight: 600;
            letter-spacing: 0.2rem;
            color: $background-color-dark;
        }
        p {
            color: $color-grey-dark;
            font-size: 1.4rem;
            font-weight: 300;
            margin-top: 1.5rem;
        }
    }
    &__title {
        text-align: center;
        @media only screen and (max-width: $bp-smallest) {
            padding-top: 4rem;
        }
    }
    &__image-box {
        position: relative;
        display: flex;
        height: 47rem;
        width: 50%;
        overflow: hidden;

        @media only screen and (max-width: $bp-smallest) {
            width: 100%;
            border-radius: 12px 12px 0 0 !important;
        }

        &:nth-child(2n) {
            border-radius: 0 12px 12px 0;
        }
        &:nth-child(2n + 1) {
            border-radius: 12px 0 0 12px;
            &::before {
                transform: rotate(180deg);
            }
        }
        &::before {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            background-image: url(../img/project-pattern.png);
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
        }

        & img {
            z-index: 2;
            width: 100%;
            margin: auto;
        }
    }
    &-buttons {
        display: flex;
        flex-direction: column;
        width: 75%;
        align-self: center;
        @media only screen and (max-width: $bp-smallest) {
            padding: 6rem 0;
        }
    }
}

.bg-blue {
    background: linear-gradient(to right, #6e7bfb, #41e4dc);
}
.bg-green {
    background: linear-gradient(to right, #00b09b, #96c93d);
}
.bg-orange {
    background: linear-gradient(to right, #ff512f, #f09819);
}
