.btn {
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    width: auto;

    &-work {
        //Spacing
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1.8rem 3rem;
        letter-spacing: 0.25rem;

        //Styling
        background-color: $color-primary;
        color: $body-text-dark;
        border-radius: 5rem;
        box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.2rem;
            font-weight: 400;
            padding: 1.8rem 3rem;
            letter-spacing: 0;
        }
    }

    &-contact {
        //Spacing
        padding: 1.2rem 2rem;
        margin: -1.2rem -2rem;
        //Styling
        background-color: $color-primary;
        color: $body-text-dark;
        border-radius: 5rem;
        box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        text-align: center;

        @media only screen and (max-width: $bp-largest) {
            margin-left: -1.2rem;
        }

        @media only screen and (max-width: $bp-small) {
            //Spacing
            padding: 0;
            margin: 0;
            //Styling
            background-color: transparent;
            color: $color-primary-dark;
            border-radius: 0;
            box-shadow: none;

            &:hover {
                transform: none;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}
