.footer {
  //Display
  display: flex;
  justify-content: center;
  width: 100%;

  //Color Styling
  background-color: $color-primary-dark;
  color: $body-text-light;

  &-box {
    //Display
    display: flex;
    justify-content: flex-end;
    align-items: center;

    //Spacing
    width: 70%;
    margin: 2rem 0;

    @media only screen and (max-width: $bp-large) {
      //Spacing
      width: 100%;
    }

    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      flex-direction: column-reverse;
      justify-content: center;
      margin-top: 5rem;
    }
  }

  &__copyright {
    //Font Styling
    text-align: center;
    font-size: 1.6rem;

    //Color Styling
    color: whitesmoke;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 1rem;
      span {
        display: block;
      }
    }
  }
}
