.hero {
  &__box {
    //Display
    display: flex;
    justify-content: center;
    align-items: center;

    //Spacing
    height: 90vh;
    width: 100%;

    @media only screen and (max-width: $bp-large) {
      //Display
      flex-direction: column-reverse;
    }

    @media only screen and (max-width: $bp-small) {
      //Spacing
      height: 90vh;
    }

    &-left {
      //Display
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      //Spacing
      height: 100%;
      width: 55%;
      padding: 0 5%;

      @media only screen and (max-width: $bp-large) {
        //Display
        align-items: center;
        justify-content: start;

        //Spacing
        width: 100%;
        height: 35vh;
      }
    }

    &-right {
      //Display
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      //Spacing
      height: 100%;
      width: 45%;
      padding: 8rem 0 0;

      @media only screen and (max-width: $bp-largest) {
        //Spacing
        padding: 0 6rem;
        min-height: 80rem;
        width: 50%;
      }

      @media only screen and (max-width: $bp-large) {
        //Spacing
        min-height: 50rem;
        width: 100%;
        height: 55vh;
      }

      @media only screen and (max-width: $bp-small) {
        //Spacing
        padding: 0 3rem;
      }
    }
  }

  //Modernizr checks to see if webp is supported
  .no-webp &__title {
    background-image: url(../img/hero-text-day.jpg);
  }

  .webp &__title {
    background-image: url(../img/hero-text-day.webp);
  }

  &__title {
    //Spacing
    margin: 4rem 0 8rem;
    text-align: right;

    //Font Styling
    font-size: 12rem;
    font-weight: 900;
    text-align: right;
    letter-spacing: 0.4rem;
    line-height: 1.3;

    //Image Styling
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-clip: text;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-filter: drop-shadow(2px 2px #333);
    filter: drop-shadow(2px 2px #333);

    //Animations
    animation: moveInLeft 0.8s ease-out;

    @media only screen and (max-width: $bp-largest) {
      //Spacing
      margin: 1rem 0 10rem;

      //Font Styling
      font-size: 10rem;
    }

    @media only screen and (max-width: $bp-large) {
      //Spacing
      margin: 1rem 0 4rem;

      //Font Styling
      text-align: center;
      font-size: 10rem;
      letter-spacing: 0.4rem;
      line-height: 1.1;
    }

    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      text-align: center;
      font-size: 8rem;
    }

    @media only screen and (max-width: $bp-small) {
      //Spacing
      margin: 0 0 2rem;

      //Font Styling
      font-size: 6rem;
      letter-spacing: 0.5rem;
      line-height: 1.3;

      //Image Styling
      -webkit-filter: drop-shadow(1px 1px #222);
      filter: drop-shadow(1px 1px #222);
    }

    @media only screen and (max-width: $bp-smallest) {
      //Font Styling
      font-size: 5rem;
      letter-spacing: 0.4rem;
      line-height: 1.2;
    }

    &-part {
      display: block;
    }
  }

  &__subtitle {
    //Spacing
    width: 80%;

    //Font Styling
    text-align: right;
    font-size: 2.6rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    line-height: 1.5;

    //Animations
    animation: moveInLeft 0.8s ease-out 0.8s;
    animation-fill-mode: backwards;

    @media only screen and (min-width: $bp-large) {

      //Creates ideal break point
      span.avoidwrap {
        display: inline-block;
      }
    }

    @media only screen and (max-width: $bp-large) {
      //Spacing
      margin: 0 1rem;

      //Font Styling
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      //Font Styling
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      //Font Styling
      font-size: 1.6rem;
    }
  }

  //Modernizr checks to see if webp is supported
  .no-webp &__image {
    background-image: url(../img/forest-day2x.png);

    @media only screen and (max-width: $bp-small) {
      //Image Styling
      background-image: url(../img/forest-day1x.png);
    }
  }

  .webp &__image {
    background-image: url(../img/forest-day2x.webp);

    @media only screen and (max-width: $bp-small) {
      //Image Styling
      background-image: url(../img/forest-day1x.webp);
    }
  }

  &__image {
    //Spacing
    height: 100%;
    z-index: 20;
    max-width: 120rem;

    //Image Styling
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, .1));
    filter: drop-shadow(0 6px 4px rgba(0, 0, 0, .1));

    @media only screen and (max-width: $bp-medium) {
      //Image Styling
      background-position: bottom center;
    }



    &-box {
      //Spacing
      width: 100%;
      height: 100%;
      padding: 8rem 0 3rem;

      @media only screen and (max-width: $bp-largest) {
        //Spacing
        width: 100%;
        height: 90%;
        padding: 8rem 0 0;
      }
    }
  }

  &-arrow {
    height: 15vh;
    width: 6rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 3s animation ease;

    @media only screen and (max-width: $bp-small) {
      //Spacing
      height: 10vh;
      width: 4rem;
    }

    & svg {
      fill: $color-primary-accent-2;
      animation: arrow-down 1s infinite;
    }

    &__svg--hidden {
      display: none;
    }
  }
}