/*-- -------------------------- -->
<---       Color Schemes        -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---        Breakpoints         -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---          Spacing           -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---     General Formatting     -->
<--- -------------------------- -*/
*, *::before, *::after { margin: 0; padding: 0; -webkit-box-sizing: inherit; box-sizing: inherit; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 62.5%; overflow-x: hidden; scroll-behavior: smooth; }
@media only screen and (max-width: 112.5em) { html { font-size: 50%; } }

body { background-color: #f5f5f9; font-family: 'Poppins', sans-serif; line-height: 1.6; width: 100vw; overflow-x: hidden; }

li { list-style: none; }

a { text-decoration: none; }

.spacer { aspect-ratio: 960/99; width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; }
@media only screen and (max-width: 37.5em) { .spacer { aspect-ratio: 400/98; } }

.layerBottom { background-image: url("../img/svg/wave-bottom-light.svg"); margin: -2px 0; }
@media only screen and (max-width: 37.5em) { .layerBottom { background-image: url("../img/svg/wave-bottom-mobile-light.svg"); } }

.layerTop { background-image: url("../img/svg/wave-top-light.svg"); margin: -2px 0; }
@media only screen and (max-width: 37.5em) { .layerTop { background-image: url("../img/svg/wave-top-mobile-light.svg"); } }

.btn { cursor: pointer; width: auto; text-transform: uppercase; text-decoration: none; border: none; -webkit-transition: all 0.2s; transition: all 0.2s; }
.btn-work { padding: 1.8rem 3rem; margin-bottom: 2rem; text-align: center; font-size: 1.8rem; font-weight: 600; background-color: #588157; color: white; -webkit-box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.25); box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.25); border-radius: 5rem; -webkit-transition: all 0.2s; transition: all 0.2s; }
.btn-code { padding: 0.5rem 2rem; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; margin: 0 auto; text-align: center; font-size: 1.2rem; font-weight: 400; color: #ebebeb; -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); border-radius: 2rem; -webkit-transition: all 0.2s; transition: all 0.2s; }
.btn-code:hover { -webkit-transform: scale(1.03) !important; transform: scale(1.03) !important; }
.btn:hover { -webkit-transform: scale(1.05); transform: scale(1.05); }

::-moz-selection { background-color: #3a5a40; color: #fff; }

::selection { background-color: #3a5a40; color: #fff; }

.hero__title-part, .about__header, .about__line--kanji, .projects__header, .projects__line--kanji { font-family: 'Montserrat', sans-serif; }
.hero__title-part::-moz-selection, .about__header::-moz-selection, .about__line--kanji::-moz-selection, .projects__header::-moz-selection, .projects__line--kanji::-moz-selection { background-color: rgba(0, 80, 0, 0.5); }
.hero__title-part::selection, .about__header::selection, .about__line--kanji::selection, .projects__header::selection, .projects__line--kanji::selection { background-color: rgba(0, 80, 0, 0.5); }

/*-- -------------------------- -->
<---       Comment order        -->
<--- -------------------------- -*/
@-webkit-keyframes moveInLeft { 0% { opacity: 0; -webkit-transform: translateX(-15rem) translateY(2rem); transform: translateX(-15rem) translateY(2rem); }
  100% { opacity: 1; -webkit-transform: translateX(0) translateY(0rem); transform: translateX(0) translateY(0rem); } }
@keyframes moveInLeft { 0% { opacity: 0; -webkit-transform: translateX(-15rem) translateY(2rem); transform: translateX(-15rem) translateY(2rem); }
  100% { opacity: 1; -webkit-transform: translateX(0) translateY(0rem); transform: translateX(0) translateY(0rem); } }
@-webkit-keyframes wave { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  15% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  30% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
  45% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  60% { -webkit-transform: rotate(-1deg); transform: rotate(-1deg); }
  75% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  90% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@keyframes wave { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  15% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  30% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
  45% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  60% { -webkit-transform: rotate(-1deg); transform: rotate(-1deg); }
  75% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  90% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@-webkit-keyframes arrow-down { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  5% { -webkit-transform: translateY(1px); transform: translateY(1px); }
  10% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  15% { -webkit-transform: translateY(3px); transform: translateY(3px); }
  20% { -webkit-transform: translateY(4px); transform: translateY(4px); }
  25% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  30% { -webkit-transform: translateY(6px); transform: translateY(6px); }
  35% { -webkit-transform: translateY(7px); transform: translateY(7px); }
  40% { -webkit-transform: translateY(8px); transform: translateY(8px); }
  45% { -webkit-transform: translateY(9px); transform: translateY(9px); }
  50% { -webkit-transform: translateY(10px); transform: translateY(10px); }
  55% { -webkit-transform: translateY(9px); transform: translateY(9px); }
  60% { -webkit-transform: translateY(8px); transform: translateY(8px); }
  65% { -webkit-transform: translateY(7px); transform: translateY(7px); }
  70% { -webkit-transform: translateY(6px); transform: translateY(6px); }
  75% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  80% { -webkit-transform: translateY(4px); transform: translateY(4px); }
  85% { -webkit-transform: translateY(3px); transform: translateY(3px); }
  90% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  95% { -webkit-transform: translateY(1px); transform: translateY(1px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }
@keyframes arrow-down { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  5% { -webkit-transform: translateY(1px); transform: translateY(1px); }
  10% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  15% { -webkit-transform: translateY(3px); transform: translateY(3px); }
  20% { -webkit-transform: translateY(4px); transform: translateY(4px); }
  25% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  30% { -webkit-transform: translateY(6px); transform: translateY(6px); }
  35% { -webkit-transform: translateY(7px); transform: translateY(7px); }
  40% { -webkit-transform: translateY(8px); transform: translateY(8px); }
  45% { -webkit-transform: translateY(9px); transform: translateY(9px); }
  50% { -webkit-transform: translateY(10px); transform: translateY(10px); }
  55% { -webkit-transform: translateY(9px); transform: translateY(9px); }
  60% { -webkit-transform: translateY(8px); transform: translateY(8px); }
  65% { -webkit-transform: translateY(7px); transform: translateY(7px); }
  70% { -webkit-transform: translateY(6px); transform: translateY(6px); }
  75% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  80% { -webkit-transform: translateY(4px); transform: translateY(4px); }
  85% { -webkit-transform: translateY(3px); transform: translateY(3px); }
  90% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  95% { -webkit-transform: translateY(1px); transform: translateY(1px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }
/*-- -------------------------- -->
<---   Card Animation Classes   -->
<--- -------------------------- -*/
.revealRight { -webkit-transform: translateX(12rem); transform: translateX(12rem); opacity: 0; -webkit-transition: 1s opacity ease, 1s -webkit-transform ease; transition: 1s opacity ease, 1s -webkit-transform ease; transition: 1s transform ease, 1s opacity ease; transition: 1s transform ease, 1s opacity ease, 1s -webkit-transform ease; }

.revealLeft { -webkit-transform: translateX(-12rem); transform: translateX(-12rem); opacity: 0; -webkit-transition: 1s opacity ease, 1s -webkit-transform ease; transition: 1s opacity ease, 1s -webkit-transform ease; transition: 1s transform ease, 1s opacity ease; transition: 1s transform ease, 1s opacity ease, 1s -webkit-transform ease; }

.revealFade { opacity: 0; transition: 1s opacity ease; -webkit-transition: 1s opacity ease; }

.revealRight.active, .revealLeft.active { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }

.revealFade.active { opacity: 1; }

.waving-hand { margin: 0 0.2rem 0 -1.1rem; font-size: 3rem; -webkit-animation: wave 2.1s 0.6s infinite; animation: wave 2.1s 0.6s infinite; -webkit-transform-origin: 95% 95%; transform-origin: 95% 95%; display: inline-block; }
@media only screen and (max-width: 56.25em) { .waving-hand { margin: 0 0.6rem 0 -2rem; } }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: fixed; width: 100%; z-index: 200; text-decoration: none; background-color: #f5f5f9; -webkit-transition: -webkit-box-shadow 0.2s; transition: -webkit-box-shadow 0.2s; transition: box-shadow 0.2s; transition: box-shadow 0.2s, -webkit-box-shadow 0.2s; /* This is applied when you scroll the height of the navbar */ }
@media only screen and (max-width: 37.5em) { .header { z-index: 10; } }
.header-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 70%; }
@media only screen and (max-width: 75em) { .header-box { width: 100%; } }
@media only screen and (max-width: 37.5em) { .header-box { background-color: #f5f5f9; } }
.header__divider { display: none; }
@media only screen and (max-width: 37.5em) { .header__divider { display: inline-block; width: 60%; height: 1px; margin: 0 auto; background-color: #d6d6d6; border: none; } }
.no-webp .header__logo { background-image: url(../img/logo_black.png); }
.webp .header__logo { background-image: url(../img/logo_black.webp); }
.header__logo { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 8rem; width: 7rem; margin: 1rem 0; z-index: 200; text-decoration: none; font-size: 2.5rem; background-size: cover; background-position: top; overflow: visible; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media only screen and (max-width: 75em) { .header__logo { margin-left: 1rem; } }
@media only screen and (max-width: 37.5em) { .header__logo { height: 6.5rem; width: 6rem; } }
.header__logo:hover { -webkit-transform: scale(1.05); transform: scale(1.05); }
.header__nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media only screen and (max-width: 37.5em) { .header__nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; left: 0; top: 0; z-index: 100; height: 100vh; width: 100vw; background-color: #fff; opacity: 0; text-align: center; -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); -webkit-transform: scale(0); transform: scale(0); }
  .header__nav.active { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
  .header__nav.active .header__nav-item { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
  .header__nav-item { padding: 3rem 0; opacity: 0; -webkit-transition: all 400ms 510ms; transition: all 400ms 510ms; }
  .header__nav-item:nth-child(1) { -webkit-transform: translateX(-30%); transform: translateX(-30%); }
  .header__nav-item:nth-child(3) { -webkit-transform: translateX(30%); transform: translateX(30%); }
  .header__nav-item:nth-child(5) { -webkit-transform: translateX(-30%); transform: translateX(-30%); } }
@media only screen and (max-width: 37.5em) { .header__nav-toggle { padding: 4rem 0; } }
.header__nav * a { margin-right: 3rem; padding: 1rem 2rem; position: relative; font-size: 1.6rem; font-weight: 500; -webkit-transition: all 0.3s; transition: all 0.3s; color: #3a5a40; }
.header__nav * a:before { content: ''; position: absolute; width: 0%; height: 1px; bottom: 4px; border-bottom: 3px solid #db8e59; -webkit-transition: all 0.3s; transition: all 0.3s; }
.header__nav * a:hover:before { width: 25%; }
@media only screen and (max-width: 56.25em) { .header__nav * a { margin-right: 3rem; } }
@media only screen and (max-width: 37.5em) { .header__nav * a { width: 100%; margin: auto; color: #3a5a40; font-size: 3rem; } }
.header__hamburger { display: none; }
@media only screen and (max-width: 37.5em) { .header__hamburger { cursor: pointer; display: block; margin: auto 2rem; z-index: 300; } }
.header__hamburger .bar { display: block; width: 4rem; height: 1px; margin: 8px auto; background-color: #16031a; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.header__hamburger.active .bar:nth-child(2) { opacity: 0; }
.header__hamburger.active .bar:nth-child(1) { -webkit-transform: translateY(9px) rotate(45deg); transform: translateY(9px) rotate(45deg); }
.header__hamburger.active .bar:nth-child(3) { -webkit-transform: translateY(-9px) rotate(-45deg); transform: translateY(-9px) rotate(-45deg); }
.header-scrolled { border-bottom: 1px solid #d6d6d6; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }

.hero__box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 90vh; width: 100%; }
@media only screen and (max-width: 75em) { .hero__box { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; } }
@media only screen and (max-width: 37.5em) { .hero__box { height: 90vh; } }
.hero__box-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; height: 100%; width: 55%; padding: 0 5%; }
@media only screen and (max-width: 75em) { .hero__box-left { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; width: 100%; height: 35vh; } }
.hero__box-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 45%; padding: 8rem 0 0; }
@media only screen and (max-width: 112.5em) { .hero__box-right { padding: 0 6rem; min-height: 80rem; width: 50%; } }
@media only screen and (max-width: 75em) { .hero__box-right { min-height: 50rem; width: 100%; height: 55vh; } }
@media only screen and (max-width: 37.5em) { .hero__box-right { padding: 0 3rem; } }
.no-webp .hero__title { background-image: url(../img/hero-text-day.jpg); }
.webp .hero__title { background-image: url(../img/hero-text-day.webp); }
.hero__title { margin: 4rem 0 8rem; text-align: right; font-size: 12rem; font-weight: 900; text-align: right; letter-spacing: 0.4rem; line-height: 1.3; background-attachment: scroll; background-size: cover; background-position: center center; background-clip: text; background-repeat: no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent; -webkit-filter: drop-shadow(2px 2px #333); filter: drop-shadow(2px 2px #333); -webkit-animation: moveInLeft 0.8s ease-out; animation: moveInLeft 0.8s ease-out; }
@media only screen and (max-width: 112.5em) { .hero__title { margin: 1rem 0 10rem; font-size: 10rem; } }
@media only screen and (max-width: 75em) { .hero__title { margin: 1rem 0 4rem; text-align: center; font-size: 10rem; letter-spacing: 0.4rem; line-height: 1.1; } }
@media only screen and (max-width: 56.25em) { .hero__title { text-align: center; font-size: 8rem; } }
@media only screen and (max-width: 37.5em) { .hero__title { margin: 0 0 2rem; font-size: 6rem; letter-spacing: 0.5rem; line-height: 1.3; -webkit-filter: drop-shadow(1px 1px #222); filter: drop-shadow(1px 1px #222); } }
@media only screen and (max-width: 25em) { .hero__title { font-size: 5rem; letter-spacing: 0.4rem; line-height: 1.2; } }
.hero__title-part { display: block; }
.hero__subtitle { width: 80%; text-align: right; font-size: 2.6rem; font-weight: 200; letter-spacing: 0.2rem; line-height: 1.5; -webkit-animation: moveInLeft 0.8s ease-out 0.8s; animation: moveInLeft 0.8s ease-out 0.8s; -webkit-animation-fill-mode: backwards; animation-fill-mode: backwards; }
@media only screen and (min-width: 75em) { .hero__subtitle span.avoidwrap { display: inline-block; } }
@media only screen and (max-width: 75em) { .hero__subtitle { margin: 0 1rem; text-align: center; } }
@media only screen and (max-width: 37.5em) { .hero__subtitle { font-size: 1.6rem; font-weight: 300; letter-spacing: 0.1rem; } }
@media only screen and (max-width: 25em) { .hero__subtitle { font-size: 1.6rem; } }
.no-webp .hero__image { background-image: url(../img/forest-day2x.png); }
@media only screen and (max-width: 37.5em) { .no-webp .hero__image { background-image: url(../img/forest-day1x.png); } }
.webp .hero__image { background-image: url(../img/forest-day2x.webp); }
@media only screen and (max-width: 37.5em) { .webp .hero__image { background-image: url(../img/forest-day1x.webp); } }
.hero__image { height: 100%; z-index: 20; max-width: 120rem; background-size: contain; background-repeat: no-repeat; background-position: center; -webkit-filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.1)); filter: drop-shadow(0 6px 4px rgba(0, 0, 0, 0.1)); }
@media only screen and (max-width: 56.25em) { .hero__image { background-position: bottom center; } }
.hero__image-box { width: 100%; height: 100%; padding: 8rem 0 3rem; }
@media only screen and (max-width: 112.5em) { .hero__image-box { width: 100%; height: 90%; padding: 8rem 0 0; } }
.hero-arrow { height: 15vh; width: 6rem; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-transition: 3s -webkit-animation ease; transition: 3s -webkit-animation ease; transition: 3s animation ease; transition: 3s animation ease, 3s -webkit-animation ease; }
@media only screen and (max-width: 37.5em) { .hero-arrow { height: 10vh; width: 4rem; } }
.hero-arrow svg { fill: #9f3535; -webkit-animation: arrow-down 1s infinite; animation: arrow-down 1s infinite; }
.hero-arrow__svg--hidden { display: none; }

.about { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 10rem 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #3a5a40; }
@media only screen and (max-width: 37.5em) { .about { padding: 6rem 0; } }
.about__box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 65%; max-width: 130rem; padding: 4rem 6rem 4rem; background-color: #fff; -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); border-radius: 2rem; -webkit-transition: all 0.2s; transition: all 0.2s; }
@media only screen and (max-width: 75em) { .about__box { width: 80%; } }
@media only screen and (max-width: 56.25em) { .about__box { width: 95%; } }
@media only screen and (max-width: 37.5em) { .about__box { width: 95%; padding: 4rem 0.5rem 2rem; } }
.about__header { margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 7.5rem; font-weight: 900; letter-spacing: 0.2rem; line-height: 1; }
.no-webp .about__header-box { background-image: url(../img/about-text-day.jpg); }
.webp .about__header-box { background-image: url(../img/about-text-day.webp); }
.about__header-box { width: 100%; margin-bottom: 5rem; background-attachment: scroll; background-image: url(../img/about-text-day.jpg); background-size: contain; background-position: center center; background-repeat: repeat; -webkit-text-fill-color: transparent; background-clip: text; -webkit-background-clip: text; -webkit-filter: drop-shadow(1px 1px #000); filter: drop-shadow(1px 1px #000); }
@media only screen and (max-width: 37.5em) { .about__header-box { -webkit-filter: drop-shadow(1px 1px #444); filter: drop-shadow(1px 1px #444); } }
@media only screen and (max-width: 37.5em) { .about__header { font-size: 5rem; } }
@media only screen and (max-width: 25em) { .about__header { font-size: 4rem; } }
.about__line { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.about__line--dash { margin: 0 2.5rem; width: 6rem; height: 3px; border-bottom: 2px solid #db8e59; background-clip: border-box !important; }
.about__line--kanji { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 8rem; font-weight: 900; text-indent: none; }
.about__line--kanji:hover rt { opacity: 1; }
.about__line--kanji rt:hover { opacity: 1; }
.about__line--kanji rp { display: none; }
.about__line--kanji rt { opacity: 0; letter-spacing: -.1em; font-size: 40%; }
@media only screen and (max-width: 37.5em) { .about__line--kanji rt { display: none; } }
@media only screen and (max-width: 37.5em) { .about__line--kanji { font-size: 4.5rem; } }
@media only screen and (max-width: 25em) { .about__line--kanji { font-size: 4rem; } }
.about__description { font-size: 2.2rem; font-weight: 300; line-height: 1.7; text-align: left; text-indent: 1.5rem; margin-bottom: 3.5rem; }
@media only screen and (max-width: 56.25em) { .about__description { line-height: 1.5; text-indent: 3rem; width: 100%; padding: 0 2rem; } }
@media only screen and (max-width: 37.5em) { .about__description { padding: 0 2rem; } }
.about__description-arrow { color: #db8e59; font-weight: 300; font-size: 2.2rem; margin-right: 0.5rem; }
.about__info-bar { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; width: 60%; max-width: 130rem; }
@media only screen and (max-width: 75em) { .about__info-bar { width: 80%; } }
@media only screen and (max-width: 56.25em) { .about__info-bar { width: 100%; padding: 0 2rem; } }
@media only screen and (max-width: 37.5em) { .about__info-bar { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }
.about__info-bar .item { width: 29%; margin-top: 3rem; padding: 4rem 1rem; text-align: center; background-color: #fff; -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); border-radius: 2rem; -webkit-transition: background-color 0.3s, opacity 1s ease, -webkit-transform 1s ease; transition: background-color 0.3s, opacity 1s ease, -webkit-transform 1s ease; transition: background-color 0.3s, transform 1s ease, opacity 1s ease; transition: background-color 0.3s, transform 1s ease, opacity 1s ease, -webkit-transform 1s ease; }
@media only screen and (max-width: 112.5em) { .about__info-bar .item { padding: 4rem 2rem; } }
@media only screen and (max-width: 56.25em) { .about__info-bar .item { width: 30%; padding: 2rem 1rem; } }
@media only screen and (max-width: 37.5em) { .about__info-bar .item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; padding: 3rem; }
  .about__info-bar .item:nth-child(even) { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; } }
@media only screen and (max-width: 37.5em) and (max-width: 37.5em) { .about__info-bar .item:nth-child(even) p { padding: 0 2rem 0 0; } }
@media only screen and (max-width: 37.5em) and (max-width: 37.5em) { .about__info-bar .item:nth-child(odd) p { padding: 0 0 0 2rem; } }

@media only screen and (max-width: 37.5em) { .about__info-bar .item__header { width: 30%; } }
.about__info-bar .item__svg { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 8rem; height: 8rem; margin: auto; background: #588157; border: 3px solid white; border-radius: 50%; -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.7); box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.7); -webkit-transition: background 0.3s; transition: background 0.3s; }
@media only screen and (max-width: 37.5em) { .about__info-bar .item__svg { -ms-flex-negative: 0; flex-shrink: 0; width: 7rem; height: 7rem; margin: 0 auto 1.5rem; } }
@media only screen and (max-width: 25em) { .about__info-bar .item__svg { width: 6rem; height: 6rem; margin: auto; } }
.about__info-bar .item svg { width: 3rem; height: 3rem; fill: white; -webkit-transition: fill 0.3s; transition: fill 0.3s; }
@media only screen and (max-width: 25em) { .about__info-bar .item svg { width: 2rem; height: 2rem; } }
.about__info-bar .item h3 { margin: 3rem 0 1.8rem; font-size: 2.2rem; font-weight: 800; color: #3a5a40; }
@media only screen and (max-width: 56.25em) { .about__info-bar .item h3 { font-size: 2rem; } }
@media only screen and (max-width: 37.5em) { .about__info-bar .item h3 { -ms-flex-negative: 1; flex-shrink: 1; margin: 0 0 0.5rem; font-size: 1.6rem; } }
@media only screen and (max-width: 25em) { .about__info-bar .item h3 { font-size: 1.2rem; } }
.about__info-bar .item p { margin: 0 3rem; font-size: 1.5rem; text-align: left; }
.about__info-bar .item p b { font-style: italic; }
@media only screen and (max-width: 112.5em) { .about__info-bar .item p { margin: 0 2rem; } }
@media only screen and (max-width: 75em) { .about__info-bar .item p { margin: 0 1rem; } }
@media only screen and (max-width: 37.5em) { .about__info-bar .item p { -ms-flex-negative: 1; flex-shrink: 1; width: 80%; margin: 0; font-size: 1.6rem; } }
.about__info-bar .item:hover .item__svg { background: #a3b18a; }
.about__info-bar .item:hover svg { fill: #3a5a40; }

.projects { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; margin: 10vh auto; padding-top: 4rem; }
@media only screen and (max-width: 37.5em) { .projects { padding: 4rem 0 0; } }
.projects__box { width: 60%; padding: 8vh 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media only screen and (max-width: 75em) { .projects__box { width: 80%; } }
@media only screen and (max-width: 56.25em) { .projects__box { width: 100%; padding: 0 2rem; } }
.projects__header { font-size: 7.5rem; font-weight: 900; letter-spacing: 0.2rem; line-height: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.no-webp .projects__header-box { background-image: url(../img/project-text-day.jpg); }
.webp .projects__header-box { background-image: url(../img/project-text-day.webp); }
.projects__header-box { height: 100%; margin-bottom: 5rem; background-size: cover; background-position: center; background-clip: text; background-repeat: no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent; -webkit-filter: drop-shadow(1px 1px #222); filter: drop-shadow(1px 1px #222); }
@media only screen and (max-width: 37.5em) { .projects__header-box { -webkit-filter: drop-shadow(1px 1px #555); filter: drop-shadow(1px 1px #555); } }
@media only screen and (max-width: 37.5em) { .projects__header { font-size: 5rem; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; } }
@media only screen and (max-width: 25em) { .projects__header { font-size: 4rem; } }
.projects__line { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.projects__line--dash { margin: 0 2.5rem; width: 6rem; height: 3px; border-bottom: 2px solid #db8e59; }
.projects__line--kanji { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 7.5rem; font-weight: 900; text-indent: none; }
.projects__line--kanji:hover rt { opacity: 1; }
.projects__line--kanji rt:hover { opacity: 1; }
.projects__line--kanji rp { display: none; }
.projects__line--kanji rt { opacity: 0; letter-spacing: -.1em; font-size: 40%; }
@media only screen and (max-width: 37.5em) { .projects__line--kanji rt { display: none; } }
@media only screen and (max-width: 37.5em) { .projects__line--kanji { font-size: 4.5rem; } }
@media only screen and (max-width: 25em) { .projects__line--kanji { font-size: 4rem; } }
.projects__card { display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 120rem; margin: 15rem auto 0; background-color: white; -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); border-radius: 2rem; }
.projects__card:last-child { margin-bottom: 15rem; }
.projects__card:hover picture img { -webkit-transform: scale(1.1); transform: scale(1.1); }
@media only screen and (max-width: 37.5em) { .projects__card { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin: 0 auto; }
  .projects__card:not(:last-child) { margin-bottom: 6rem; }
  .projects__card:nth-child(2n + 1) { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
.projects__description { width: 50%; padding: 5rem; }
@media only screen and (max-width: 56.25em) { .projects__description { padding: 0; margin: 0; } }
@media only screen and (max-width: 37.5em) { .projects__description { width: 100%; } }
.projects__details { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 100%; }
@media only screen and (max-width: 56.25em) { .projects__details { -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }
.projects__details--title { text-align: center; }
@media only screen and (max-width: 37.5em) { .projects__details--title { padding-top: 3rem; } }
@media only screen and (max-width: 112.5em) { .projects__details--title-shrink { font-size: 2.7rem !important; } }
@media only screen and (max-width: 56.25em) { .projects__details--title-shrink { font-size: 3.2rem !important; } }
@media only screen and (max-width: 25em) { .projects__details--title-shrink { font-size: 2.7rem !important; } }
.projects__details--tool { display: inline-block; padding: 5px 6px; margin: 2px; border-radius: 8px; line-height: 1; font-size: 1.4rem; font-weight: 500; letter-spacing: 0.15rem; -webkit-box-shadow: 2px 2px 1px rgba(2, 2, 2, 0.2); box-shadow: 2px 2px 1px rgba(2, 2, 2, 0.2); background-color: white; border: 1px solid rgba(0, 0, 0, 0.8); color: rgba(0, 0, 0, 0.8); }
.projects__details h3 { font-size: 3.6rem; font-weight: 600; letter-spacing: 0.2rem; color: #181818; }
@media only screen and (max-width: 75em) { .projects__details h3 { font-size: 3rem; } }
@media only screen and (max-width: 56.25em) { .projects__details h3 { font-size: 3.2rem; } }
@media only screen and (max-width: 37.5em) { .projects__details h3 { font-size: 3.6rem; } }
.projects__details h4 { margin-bottom: 1rem; font-size: 1.9rem; font-weight: 400; letter-spacing: 0.2rem; color: #181818; }
.projects__details p { margin: 3.5rem 0; font-size: 1.6rem; font-weight: 400; letter-spacing: 0.2rem; color: #181818; }
@media only screen and (max-width: 56.25em) { .projects__details p { margin: 3.5rem 2rem 0; } }
@media only screen and (max-width: 37.5em) { .projects__details p { margin: 4rem 3rem 1rem; } }
.projects__image-box { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; min-height: 50rem; height: auto; width: 50%; overflow: hidden; }
@media only screen and (max-width: 37.5em) { .projects__image-box { min-height: auto; height: 30rem; width: 100%; margin: auto; border-radius: 2rem 2rem 0 0 !important; } }
.projects__image-box:nth-child(2n) { border-radius: 0 2rem 2rem 0; }
.projects__image-box:nth-child(2n + 1) { border-radius: 2rem 0 0 2rem; }
.projects__image-box:nth-child(2n + 1)::before { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.projects__image-box::before { content: ''; position: absolute; width: 100%; height: 100%; top: 0; right: 0; z-index: 0; background-repeat: no-repeat; background-size: cover; overflow: hidden; }
.no-webp .projects__image-box::before { background-image: url(../img/project-pattern.png); }
.webp .projects__image-box::before { background-image: url(../img/project-pattern.webp); }
.projects__image-box picture { margin: auto; z-index: 2; }
.projects__image-box picture img { width: 100%; height: auto; -webkit-transition: all ease-out 0.5s; transition: all ease-out 0.5s; }
.projects-buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-item-align: center; align-self: center; width: 75%; }
@media only screen and (max-width: 37.5em) { .projects-buttons { padding: 4rem 0; } }

/*-- -------------------------- -->
<---       Card Gradients       -->
<--- -------------------------- -*/
.bg-minimalist { background: -webkit-gradient(linear, left top, right top, from(#8893fc), to(#41e4dc)); background: linear-gradient(to right, #8893fc, #41e4dc); }

.bg-andys { background-image: -webkit-gradient(linear, right top, left top, from(#90be6d), to(#43aa8b)); background-image: linear-gradient(to left, #90be6d, #43aa8b); }

.bg-parkfinder { background: -webkit-gradient(linear, left top, right top, from(#67bb7d), to(#37a8c0)); background: linear-gradient(to right, #67bb7d, #37a8c0); }

.bg-webdev { background: -webkit-gradient(linear, left top, right top, from(#7950f2), to(#B559CC)); background: linear-gradient(to right, #7950f2, #B559CC); }

.contact { width: 100%; margin: auto; padding: 5rem 0 1rem; background-color: #3a5a40; }
@media only screen and (max-width: 56.25em) { .contact { padding: 0; } }
.contact__box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; margin: auto; background-image: url(../img/svg/Worldmap.svg); background-size: auto 100%; background-repeat: no-repeat; background-position: center center; }
@media only screen and (max-width: 56.25em) { .contact__box { background-image: none; } }
.contact__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 75%; margin: 0 5rem; padding: 10vh 0; }
@media only screen and (max-width: 75em) { .contact__container { width: 100%; } }
@media only screen and (max-width: 56.25em) { .contact__container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media only screen and (max-width: 37.5em) { .contact__container { padding: 5vh 0 5vh; margin: 0 2rem; height: -webkit-min-content; height: -moz-min-content; height: min-content; } }
.contact__container-left { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; max-width: 90rem; }
@media only screen and (max-width: 56.25em) { .contact__container-left { background-image: url(../img/svg/Worldmap.svg); background-size: 110% auto; background-repeat: no-repeat; background-position: center; } }
.contact__container-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; width: 100%; max-width: 90rem; }
.contact__container-right--box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: rgba(255, 255, 255, 0.7); -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); border-radius: 2rem; width: 100%; padding: 5rem; -webkit-transition: all 0.3s; transition: all 0.3s; }
@media only screen and (max-width: 37.5em) { .contact__container-right--box { padding: 2rem; } }
.contact__container-right--box:hover { background-color: rgba(255, 255, 255, 0.8); }
.contact__socials { display: -webkit-box; display: -ms-flexbox; display: flex; }
@media only screen and (max-width: 56.25em) { .contact__socials { -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }
.contact__socials a:not(:last-child) { margin-right: 2rem; }
.contact-svg { height: 3.6rem; margin: 1rem 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.contact-svg:hover { -webkit-transform: scale(1.2); transform: scale(1.2); }
.contact__info { padding: 3rem 2rem 3rem 6rem; background-color: rgba(255, 255, 255, 0.7); -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); border-radius: 2rem; -webkit-transition: all 0.3s; transition: all 0.3s; }
.contact__info-below { display: none; }
.contact__info:hover { background-color: rgba(255, 255, 255, 0.9); }
.contact__info h2 { margin: 0 auto 4rem; width: auto; font-size: 4.6rem; color: #3a5a40; text-shadow: 1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white; }
@media only screen and (max-width: 56.25em) { .contact__info h2 { text-align: center; font-size: 3.6rem; } }
.contact__info h3 { margin-top: 6rem; font-size: 1.8rem; color: #9f3535; text-shadow: 1px 1px rgba(255, 255, 255, 0.7), 1px -1px rgba(255, 255, 255, 0.7), -1px 1px rgba(255, 255, 255, 0.7), -1px -1px rgba(255, 255, 255, 0.7); }
@media only screen and (max-width: 56.25em) { .contact__info h3 { margin-bottom: 1rem; text-align: center; } }
.contact__info p { margin: 0.2rem 6rem 2rem 0; font-size: 2rem; font-weight: 300; text-indent: 0.5rem; }
@media only screen and (max-width: 56.25em) { .contact__info p { margin: 0.5rem 0 2rem; font-size: 1.8rem; } }
@media only screen and (max-width: 56.25em) { .contact__info { padding: 2rem; margin-bottom: 4rem; }
  .contact__info-right { display: none; }
  .contact__info-below { display: inline; } }
.contact-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 90%; }
@media only screen and (max-width: 56.25em) { .contact-form { width: 100%; } }
.contact-form label { font-size: 1.8rem; }
.contact-form input { padding: 0.8rem; margin-bottom: 2rem; border: 1px solid #525252; border-radius: 5px; }
.contact-form input:focus { border: 1px solid #525252; }
.contact-form textarea { padding: 0.8rem; border: 1px solid #525252; border-radius: 5px; }
.contact-form textarea:focus { border: 1px solid #525252; }
.contact-form button { margin: 3rem 0 0; border-radius: 5px; }

.footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; background-color: #3a5a40; color: #16031a; }
.footer-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 70%; margin: 2rem 0; }
@media only screen and (max-width: 75em) { .footer-box { width: 100%; } }
@media only screen and (max-width: 56.25em) { .footer-box { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 5rem; } }
.footer__copyright { text-align: center; font-size: 1.6rem; color: whitesmoke; }
@media only screen and (max-width: 56.25em) { .footer__copyright { margin-top: 1rem; }
  .footer__copyright span { display: block; } }

/*-- -------------------------- -->
<---      Styles for            -->
<---      Dark  Mode Toggle     -->
<--- -------------------------- -*/
.nightmode-toggle { background-color: inherit; border: none; }
.nightmode-toggle .toggle { display: none; }
.nightmode-toggle .toggle + .toggle-btn { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: block; width: 8rem; height: 4rem; position: relative; outline: none; -webkit-filter: drop-shadow(3px 3px 2px #a3b18a); filter: drop-shadow(3px 3px 2px #a3b18a); }
@media only screen and (max-width: 37.5em) { .nightmode-toggle .toggle + .toggle-btn { height: 6rem; width: 20rem; } }
.nightmode-toggle .toggle + .toggle-btn:after, .nightmode-toggle .toggle + .toggle-btn:before { content: ''; display: block; position: relative; width: 50%; height: 100%; }
.nightmode-toggle .toggle + .toggle-btn:after { left: 0; }
.nightmode-toggle .toggle + .toggle-btn:before { display: none; }
.nightmode-toggle .toggle:checked + .toggle-btn:after { left: 50%; }
.nightmode-toggle .toggle-skewed + .toggle-btn { overflow: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; font-family: sans-serif; background: #588157; -webkit-transform: skew(-10deg); transform: skew(-10deg); -webkit-transition: all 0.2s ease; transition: all 0.2s ease; /* After = Night */ /* Before = Day */ }
.nightmode-toggle .toggle-skewed + .toggle-btn:after, .nightmode-toggle .toggle-skewed + .toggle-btn:before { display: inline-block; position: absolute; width: 100%; line-height: 4rem; text-align: center; font-weight: bold; font-size: 1.4rem; -webkit-transform: skew(10deg); transform: skew(10deg); text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
@media only screen and (max-width: 37.5em) { .nightmode-toggle .toggle-skewed + .toggle-btn:after, .nightmode-toggle .toggle-skewed + .toggle-btn:before { line-height: 5.3rem; } }
.nightmode-toggle .toggle-skewed + .toggle-btn:after { content: attr(data-tg-on); left: 100%; font-weight: normal; color: #181818; }
@media only screen and (max-width: 37.5em) { .nightmode-toggle .toggle-skewed + .toggle-btn:after { font-size: 2.5rem; font-weight: 600; } }
.nightmode-toggle .toggle-skewed + .toggle-btn:before { content: attr(data-tg-off); left: 0; color: #ebebeb; }
@media only screen and (max-width: 37.5em) { .nightmode-toggle .toggle-skewed + .toggle-btn:before { font-weight: normal; font-size: 2.5rem; font-weight: 600; } }
.nightmode-toggle .toggle-skewed + .toggle-btn:active { background: #588157; }
.nightmode-toggle .toggle-skewed + .toggle-btn:hover:before { left: -10%; }
.nightmode-toggle .toggle-skewed:checked + .toggle-btn { background: #3b6986; }
.nightmode-toggle .toggle-skewed:checked + .toggle-btn:before { left: -100%; }
.nightmode-toggle .toggle-skewed:checked + .toggle-btn:after { left: 0; }
.nightmode-toggle .toggle-skewed:checked + .toggle-btn:hover:after { left: 10%; }
.nightmode-toggle .toggle, .nightmode-toggle .toggle:after, .nightmode-toggle .toggle:before, .nightmode-toggle .toggle *, .nightmode-toggle .toggle *:after, .nightmode-toggle .toggle *:before, .nightmode-toggle .toggle + .toggle-btn { -webkit-box-sizing: border-box; box-sizing: border-box; }
.nightmode-toggle .toggle::-moz-selection, .nightmode-toggle .toggle:after::-moz-selection, .nightmode-toggle .toggle:before::-moz-selection, .nightmode-toggle .toggle *::-moz-selection, .nightmode-toggle .toggle *:after::-moz-selection, .nightmode-toggle .toggle *:before::-moz-selection, .nightmode-toggle .toggle + .toggle-btn::-moz-selection { background: none; }
.nightmode-toggle .toggle::selection, .nightmode-toggle .toggle:after::selection, .nightmode-toggle .toggle:before::selection, .nightmode-toggle .toggle *::selection, .nightmode-toggle .toggle *:after::selection, .nightmode-toggle .toggle *:before::selection, .nightmode-toggle .toggle + .toggle-btn::selection { background: none; }

/*-- -------------------------- -->
<---         Styles for         -->
<---         Dark Mode          -->
<--- -------------------------- -*/
body.dark-mode { background-color: #181818; color: #ebebeb; }
body.dark-mode .nightmode-toggle .toggle + .toggle-btn { -webkit-filter: drop-shadow(3px 3px 2px #409da0); filter: drop-shadow(3px 3px 2px #409da0); }
body.dark-mode .header { background-color: #181818; color: #ebebeb; }
@media only screen and (max-width: 37.5em) { body.dark-mode .header__divider { background-color: #525252; } }
@media only screen and (max-width: 37.5em) { body.dark-mode .header-box { background-color: #181818; } }
body.dark-mode .header__logo { background-image: url(../img/logo_white.png); }
body.dark-mode .header__nav * a:before { border-bottom: 2px solid #409da0; }
@media only screen and (max-width: 37.5em) { body.dark-mode .header__nav { background-color: #181818; } }
body.dark-mode .header a { color: #409da0; }
body.dark-mode .header__hamburger .bar { background-color: #ebebeb; }
body.dark-mode .header-scrolled { border-bottom: 1px solid rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4); box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4); }
body.dark-mode .hero__title { -webkit-filter: drop-shadow(2px 2px #000); filter: drop-shadow(2px 2px #000); }
.no-webp body.dark-mode .hero__title { background-image: url(../img/hero-text-night.jpg); }
.webp body.dark-mode .hero__title { background-image: url(../img/hero-text-night.webp); }
body.dark-mode .hero__subtitle { color: #ebebeb; }
body.dark-mode .hero__image { -webkit-filter: drop-shadow(0 6px 4px black); filter: drop-shadow(0 6px 4px black); }
.no-webp body.dark-mode .hero__image { background-image: url(../img/forest-night2x.png); }
@media only screen and (max-width: 37.5em) { .no-webp body.dark-mode .hero__image { background-image: url(../img/forest-night1x.png); } }
.webp body.dark-mode .hero__image { background-image: url(../img/forest-night2x.webp); }
@media only screen and (max-width: 37.5em) { .webp body.dark-mode .hero__image { background-image: url(../img/forest-night1x.webp); } }
body.dark-mode .hero svg { fill: white; }
body.dark-mode .about { background-color: #1d3557; }
body.dark-mode .about__box { background-color: #22222b; -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); }
body.dark-mode .about__header-box { -webkit-filter: drop-shadow(2px 2px #000); filter: drop-shadow(2px 2px #000); }
.no-webp body.dark-mode .about__header-box { background-image: url(../img/about-text-night.jpg); }
.webp body.dark-mode .about__header-box { background-image: url(../img/about-text-night.webp); }
body.dark-mode .about__description-arrow { color: #409da0; }
body.dark-mode .about__line--dash { border-bottom: 1px solid #409da0; }
body.dark-mode .about__line--kanji { color: #1d3557; }
body.dark-mode .about__info-bar .item { background-color: #22222b; -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); }
body.dark-mode .about__info-bar .item__svg { background: #1d3557; }
body.dark-mode .about__info-bar .item h3 { color: #3b6986; }
body.dark-mode .about__info-bar .item:hover svg { fill: #1d3557; }
body.dark-mode .about__info-bar .item:hover .item__svg { background: #409da0; }
body.dark-mode .projects__header-box { -webkit-filter: drop-shadow(2px 2px #000); filter: drop-shadow(2px 2px #000); }
.no-webp body.dark-mode .projects__header-box { background-image: url(../img/project-text-night.jpg); }
.webp body.dark-mode .projects__header-box { background-image: url(../img/project-text-night.jpg); }
body.dark-mode .projects__line--dash { border-bottom: 1px solid #409da0; }
body.dark-mode .projects__line--kanji { color: #1d3557; }
body.dark-mode .projects__card { background-color: rgba(34, 34, 43, 0.9); -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4); box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4); }
body.dark-mode .projects__details--tool { background-color: rgba(34, 34, 43, 0.9); border: 1px solid rgba(255, 255, 255, 0.8); -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6); box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6); color: rgba(255, 255, 255, 0.8); }
body.dark-mode .projects__details h3 { color: #f5f5f9; }
body.dark-mode .projects__details h4 { color: #f5f5f9; }
body.dark-mode .projects__details h5 { color: #f5f5f9; }
body.dark-mode .projects__details p { color: #f5f5f9; }
body.dark-mode .contact { background-color: #1d3557; }
@media only screen and (max-width: 56.25em) { body.dark-mode .contact { background-image: none; } }
body.dark-mode .contact__container-right--box { background-color: rgba(30, 30, 40, 0.9); -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); }
body.dark-mode .contact__container-right--box:hover { background-color: #1e1e28; }
body.dark-mode .contact__info { background-color: rgba(30, 30, 40, 0.9); -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); }
body.dark-mode .contact__info:hover { background-color: #1e1e28; }
body.dark-mode .contact__info h2 { color: #3b6986; text-shadow: 1px 1px rgba(0, 0, 0, 0.6), 1px -1px rgba(0, 0, 0, 0.6), -1px 1px rgba(0, 0, 0, 0.6), -1px -1px rgba(0, 0, 0, 0.6); }
body.dark-mode .contact__info h3 { color: #409da0; text-shadow: 1px 1px rgba(0, 0, 0, 0.6), 1px -1px rgba(0, 0, 0, 0.6), -1px 1px rgba(0, 0, 0, 0.6), -1px -1px rgba(0, 0, 0, 0.6); }
body.dark-mode .contact-svg { -webkit-filter: invert(1); filter: invert(1); }
body.dark-mode .bg-blue { background: -webkit-gradient(linear, left top, right top, from(#505dbf), to(#19a896)); background: linear-gradient(to right, #505dbf, #19a896); }
body.dark-mode .bg-green { background-image: -webkit-gradient(linear, right top, left top, from(#7eb356), to(#40a083)); background-image: linear-gradient(to left, #7eb356, #40a083); }
body.dark-mode .bg-bluegreen { background: -webkit-gradient(linear, left top, right top, from(#238a98), to(#539d5f)); background: linear-gradient(to right, #238a98, #539d5f); }
body.dark-mode .bg-greenblue { background: -webkit-gradient(linear, left top, right top, from(#539d5f), to(#238a98)); background: linear-gradient(to right, #539d5f, #238a98); }
body.dark-mode .bg-webdev { background: -webkit-gradient(linear, left top, right top, from(#603EC7), to(#8F4E9F)); background: linear-gradient(to right, #603EC7, #8F4E9F); }
body.dark-mode .footer { background-color: #1d3557; }
body.dark-mode .footer__copyright { color: #ebebeb; }
body.dark-mode .btn-work { background-color: #3b6986; }
body.dark-mode .btn-contact { background-color: #1d3557; color: #ebebeb; }
@media only screen and (max-width: 37.5em) { body.dark-mode .btn-contact { background-color: transparent; color: #ebebeb !important; } }
body.dark-mode .layerBottom { background-image: url("../img/svg/wave-bottom-dark.svg"); }
@media only screen and (max-width: 37.5em) { body.dark-mode .layerBottom { background-image: url("../img/svg/wave-bottom-mobile-dark.svg"); } }
body.dark-mode .layerTop { background-image: url("../img/svg/wave-top-dark.svg"); }
@media only screen and (max-width: 37.5em) { body.dark-mode .layerTop { background-image: url("../img/svg/wave-top-mobile-dark.svg"); } }
body.dark-mode ::-moz-selection { color: #16031a; background-color: #ebebeb; }
body.dark-mode ::selection { color: #16031a; background-color: #ebebeb; }
body.dark-mode .hero__title-part::-moz-selection, body.dark-mode .about__header::-moz-selection, body.dark-mode .about__line--kanji::-moz-selection, body.dark-mode .projects__header::-moz-selection, body.dark-mode .projects__line--kanji::-moz-selection { background-color: rgba(0, 80, 180, 0.3); }
body.dark-mode .hero__title-part::selection, body.dark-mode .about__header::selection, body.dark-mode .about__line--kanji::selection, body.dark-mode .projects__header::selection, body.dark-mode .projects__line--kanji::selection { background-color: rgba(0, 80, 180, 0.3); }
