<div class='spacer layerBottom'></div>
<section id='contact' class='contact'>
    <div class='contact__box revealFade'>
        <div class='contact__container'>
            <!-- Links and Header -->

            <div class='contact__container-left revealLeft'>
                <div class='contact__info'>
                    <h2 class='revealFade'>Get in touch</h2>
                    <p>
                        I'm always happy to hear about exciting opportunities,
                        build valuable connections, or just say hi to a
                        stranger.
                    </p>
                    <p>
                        Feel free to send me an email or fill out the form <span
                            class='contact__info-right'>to the right</span
                        ><span class='contact__info-below'>below</span> with a quick
                        message.
                    </p>
                    <p>Further links to my social media can be found below.</p>
                    <h3>Let's connect!</h3>
                    <div class='contact__socials'>
                        <a
                            href='https://www.linkedin.com/in/william-ian-kimble/'
                            rel='noopener noreferrer'>
                            <img
                                class='contact-svg'
                                src='img/svg/linkedin.svg'
                                alt='Linkedin'
                            /></a
                        >
                        <a
                            href='https://github.com/wkimble91/'
                            rel='noopener noreferrer'>
                            <img
                                class='contact-svg'
                                src='img/svg/github.svg'
                                alt='Github'
                            /></a
                        >
                        <a
                            href='https://codepen.io/wkimble91'
                            rel='noopener noreferrer'>
                            <img
                                class='contact-svg'
                                src='img/svg/codepen.svg'
                                alt='Codepen'
                            /></a
                        >
                        <a href='mailto:mail@willkimble.com'>
                            <img
                                class='contact-svg'
                                src='img/svg/mail.svg'
                                alt='Email'
                            /></a
                        >
                    </div>
                </div>
            </div>

            <!-- Contact Form -->

            <div class='contact__container-right revealRight'>
                <form
                    class='contact-form'
                    data-netlify='true'
                    method='POST'
                    id='contactForm'>
                    <div class='contact__container-right--box'>
                        <input type='hidden' name='form_type' value='contact' />
                        <!-- Name Field -->
                        <label for='name'>Name</label>
                        <input
                            type='text'
                            name='name'
                            id='name'
                            minlength='3'
                            autocomplete='name'
                            required
                        />
                        <!-- Email Field -->
                        <label for='email'>Email Address</label>
                        <input
                            type='email'
                            name='email'
                            id='email'
                            autocomplete='email'
                            required
                        />
                        <!-- Message Box -->
                        <label for='message'>Message</label>
                        <textarea
                            name='message'
                            id='message'
                            cols='25'
                            rows='4'
                            minlength='10'
                            autocomplete='none'
                            required></textarea>
                        <!-- Submit Button -->
                        <button type='submit' class='btn btn-work'
                            ><span>Send message</span></button
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
