<footer class='footer'>
    <div class='footer-box'>
        <p class='footer__copyright'>
            Designed and Hand Coded by Will Kimble <span
                >Copyright &copy; 2022 - Present</span
            >
        </p>
    </div>
</footer>
