<section id='projects' class='projects'>
    <div class='projects__box'>
        <div class='projects__header-box'>
            <div class='projects__line'>
                <div class='projects__line--dash revealLeft'></div>
                <div class='projects__line--kanji revealFade'>作品</div>
                <div class='projects__line--dash revealRight'></div>
            </div>
            <h2 class='projects__header revealFade'>Recent Work</h2>
        </div>

        <!-- Project Card 1 -->

        <div class='projects__card revealRight'>
            <div class='projects__description'>
                <div class='projects__details'>
                    <div class='projects__title'>
                        <h3>Park Finder</h3>
                        <h4>NPS Park Finder</h4>
                        <h5>SCSS, React.js, Next.js, API</h5>
                        <p>
                            An application for National Parks that provides
                            information about nearby parks.
                        </p>
                    </div>
                    <div class='projects-buttons'>
                        <a
                            class='btn btn-work bg-greenblue'
                            href='https://park-finder-ten.vercel.app/'
                            >View Webpage</a
                        >
                        <a
                            class='btn btn-code bg-grey'
                            href='https://github.com/wkimble91/park-finder/'
                            >View Code</a
                        >
                    </div>
                </div>
            </div>
            <div class='projects__image-box bg-greenblue'>
                <picture aria-hidden='true'>
                    <source
                        media='(max-width: 500px)'
                        srcset='img/parkfinder-m.webp'
                    />
                    <source
                        media='(min-width: 501px)'
                        srcset='img/parkfinder.png'
                    />
                    <img
                        loading='lazy'
                        decoding='async'
                        src='img/parkfinder.png'
                        alt='Thumbnail of Park Finder Webpage'
                        width='414'
                        height='400'
                    />
                </picture>
            </div>
        </div>

        <!-- Project Card 2 -->

        <div class='projects__card revealLeft'>
            <div class='projects__image-box bg-blue'>
                <picture aria-hidden='true'>
                    <source
                        media='(max-width: 500px)'
                        srcset='img/minimalist-m.webp'
                    />
                    <source
                        media='(min-width: 501px)'
                        srcset='img/minimalist.png'
                    />
                    <img
                        loading='lazy'
                        decoding='async'
                        src='img/minimalist.png'
                        alt='Thumbnail of Minimalist Nomad Webpage'
                        width='414'
                        height='400'
                    />
                </picture>
            </div>
            <div class='projects__description'>
                <div class='projects__details'>
                    <div class='projects__title'>
                        <h3>Minimalist Nomad</h3>
                        <h4>Travel Blog Mockup</h4>
                        <h5>SCSS, React.js, Next.js, TailwindCSS, Stripe</h5>
                        <p>
                            A travel blog with dynamic blog posts and an
                            e-commerce store.
                        </p>
                    </div>
                    <div class='projects-buttons'>
                        <a
                            class='btn btn-work bg-blue'
                            href='https://www.minimalistnomad.world/'
                            >View Webpage</a
                        >
                        <a
                            class='btn btn-code bg-grey'
                            href='https://github.com/wkimble91/minimalist_nomad'
                            >View Code</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Card 3 -->

        <div class='projects__card revealRight'>
            <div class='projects__description'>
                <div class='projects__details'>
                    <div class='projects__title'>
                        <h3 class='projects__title'>WebDev Essentials</h3>
                        <h4>Web Developer Toolkit</h4>
                        <h5>Astro, JavaScript, SCSS</h5>
                        <p>
                            Website created to save and sort useful front-end
                            tools.
                        </p>
                    </div>
                    <div class='projects-buttons'>
                        <a
                            class='btn btn-work bg-webdev'
                            href='https://webdevessentials.willkimble.com/'
                            >View Webpage</a
                        >
                        <a
                            class='btn btn-code bg-grey'
                            href='https://github.com/wkimble91/webdevessentials'
                            >View Code</a
                        >
                    </div>
                </div>
            </div>
            <div class='projects__image-box bg-webdev'>
                <picture aria-hidden='true'>
                    <source
                        media='(max-width: 500px)'
                        srcset='img/webdev-m.webp'
                    />
                    <source
                        media='(min-width: 501px)'
                        srcset='img/webdev.png'
                    />
                    <img
                        loading='lazy'
                        decoding='async'
                        src='img/webdev.png'
                        alt='Thumbnail of WebDev Essentials Webpage'
                        width='414'
                        height='400'
                    />
                </picture>
            </div>
        </div>

        <!-- Project Card 4 -->

        <div class='projects__card revealLeft'>
            <div class='projects__image-box bg-green'>
                <picture aria-hidden='true'>
                    <source
                        media='(max-width: 500px)'
                        srcset='img/andys-m.webp'
                    />
                    <source media='(min-width: 501px)' srcset='img/andys.png' />
                    <img
                        loading='lazy'
                        decoding='async'
                        src='img/andys.png'
                        alt='Thumbnail of Andys Foundations Webpage'
                        width='414'
                        height='400'
                    />
                </picture>
            </div>
            <div class='projects__description'>
                <div class='projects__details'>
                    <div class='projects__title'>
                        <h3 class='projects__title-shrink'>
                            Andy's Foundations, LLC
                        </h3>
                        <h4>Local Construction Company</h4>
                        <h5>SCSS, React.js</h5>
                        <p>
                            Website created for a local concrete construction
                            company.
                        </p>
                    </div>
                    <div class='projects-buttons'>
                        <a
                            class='btn btn-work bg-green'
                            href='https://www.andysfoundation.com'
                            >View Webpage</a
                        >
                        <a
                            class='btn btn-code bg-grey'
                            href='https://github.com/wkimble91/andysfoundation'
                            >View Code</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Card 5 -->

        <div class='projects__card revealRight'>
            <div class='projects__description'>
                <div class='projects__details'>
                    <div class='projects__title'>
                        <h3>TrailPages</h3>
                        <h4>AllTrails Mockup</h4>
                        <h5>Bootstrap, Node.js, EJS, MongoDB, Cloudinary</h5>
                        <p>
                            A Full-Stack "crowdsourced" trail rating app. Full
                            CRUD and user profiles.
                        </p>
                    </div>
                    <div class='projects-buttons'>
                        <a
                            class='btn btn-work bg-bluegreen'
                            href='https://trail-pages.herokuapp.com/'
                            >View Webpage</a
                        >
                        <a
                            class='btn btn-code bg-grey'
                            href='https://github.com/wkimble91/trailpages'
                            >View Code</a
                        >
                    </div>
                </div>
            </div>
            <div class='projects__image-box bg-bluegreen'>
                <picture aria-hidden='true'>
                    <source
                        media='(max-width: 500px)'
                        srcset='img/trailpages-m.webp'
                    />
                    <source
                        media='(min-width: 501px)'
                        srcset='img/trailpages.png'
                    />
                    <img
                        loading='lazy'
                        decoding='async'
                        src='img/trailpages.png'
                        alt='Thumbnail of Trailpages Webpage'
                        width='414'
                        height='400'
                    />
                </picture>
            </div>
        </div>
    </div>
</section>
